<EditForm Model="@AddressValidators">

    <DataAnnotationsValidator />
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="addressLine">Address: </label>
        <InputText id="addressLine"
                   class="form-control"
                   @onblur="Validate"
                   @bind-Value="@AddressValidators.AddressLine"
                   placeholder="Enter street address">
        </InputText>
        <ValidationMessage For="@(() => AddressValidators.AddressLine)" />
    </div>

    <div class="form-group">
        <label for="city">City: </label>
        <InputText id="city"
                   class="form-control"
                   @onblur="Validate"
                   @bind-Value="@AddressValidators.City"
                   placeholder="Enter city">
        </InputText>
        <ValidationMessage For="@(() => AddressValidators.City)" />
    </div>

    <div class="form-group">
        <label for="state">State: </label>
        <InputSelect id="state"
                     class="form-control"
                     @onblur="Validate"
                     @bind-Value="@AddressValidators.State"
                     placeholder="Enter state">
            @*@foreach (var state in states)
            {
                <option value="@state.Abbreviation">@state.Name</option>
            }*@
        </InputSelect>
        <ValidationMessage For="@(() => AddressValidators.State)" />
    </div>

    <div class="form-group">
        <label for="postalCode">Postal Code: </label>
        <InputText id="postalCode"
                   class="form-control"
                   @onblur="Validate"
                   @bind-Value="@AddressValidators.PostalCode"
                   placeholder="Enter postal code">
        </InputText>
        <ValidationMessage For="@(() => AddressValidators.PostalCode)" />
    </div>

</EditForm>