<section class="pl-5 pr-2">
    <div class="d-flex justify-content-between">
        <h3 class="page-item">@Person.Name</h3>
        <div @onclick="Close"><span class="oi oi-x" aria-hidden="true"></span></div>
    </div>
    <EditForm Model="@Person" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <div class="form-group row">
            <label for="lastName" class="col-sm-3">Last Name: </label>
            <InputText id="lastName" class="form-control col-sm-8" @bind-Value="@Person.Name" placeholder="Enter last name"></InputText>
        </div>

        <div class="form-group row">
            <label for="firstName" class="col-sm-3">First Name: </label>
            <InputText id="firstName" class="form-control col-sm-8" @bind-Value="@Person.Name.FirstName" placeholder="Enter first name"></InputText>
        </div>

        <div class="form-group row">
            <label for="middleName" class="col-sm-3">Middle Name: </label>
            <InputText id="middleName" class="form-control col-sm-8" @bind-Value="@Person.Name.MiddleName" placeholder="Enter middle name"></InputText>
        </div>

        <div class="form-group row">
            <label for="address" class="col-sm-3">Address: </label>
            <InputText id="address" class="form-control col-sm-8" @bind-Value="@Person.Address.AddressLine" placeholder="Enter last name"></InputText>
        </div>

        <div class="form-group row">
            <label for="city" class="col-sm-3">City: </label>
            <InputText id="city" class="form-control col-sm-8" @bind-Value="@Person.Address.City" placeholder="Enter first name"></InputText>
        </div>

        <div class="form-group row">
            <label for="state" class="col-sm-3">State: </label>
            <InputSelect id="state" class="form-control selectpicker col-sm-8" @bind-Value=Person.Address.State>
                <option>--select state--</option>
                @foreach (var state in StatesList)
                {
                    <option value="@state.Abbreviation">@state.Name</option>
                }
            </InputSelect>
        </div>

        <div class="form-group row">
            <label for="postalCode" class="col-sm-3">Postal Code: </label>
            <InputText id="postalCode" class="form-control col-sm-8" @bind-Value="@Person.Address.PostalCode" placeholder="Enter postal code"></InputText>
        </div>


        @*<div class="form-group row">
                <label for="phonePrimary" class="col-sm-3">Phone Primary: </label>
                <InputText id="phonePrimary" class="form-control col-sm-8" @bind-Value="@Person.PhonePrimary" placeholder="Enter primary phone number"></InputText>
            </div>

            <div class="form-group row">
                <label for="emailSecondary" class="col-sm-3">Email Secondary: </label>
                <InputText id="emailSecondary" class="form-control col-sm-8" @bind-Value="@Person.EmailSecondary" placeholder="Enter secondary email address"></InputText>
            </div>*@

        <div class="form-group row">
            <label for="birthday" class="col-sm-3">Date of Birth: </label>
            <InputDate id="birthday" class="form-control col-sm-8" @bind-Value="@Person.Birthday"></InputDate>
        </div>

        <div class="d-flex justify-content-end">
            <div class="d-flex pr-2">
                <button type="submit" class="btn btn-primary edit-btn">
                    <span class="oi oi-check" aria-hidden="true"></span>
                </button>
            </div>
            <div>
                <a class="btn btn-danger" @OnClick="DeletePerson">
                    <span class="oi oi-trash" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        @if (Saved)
        {
            <div class="alert @StatusClass">@Message</div>
        }
    </EditForm>
</section>