<div class="container">
    <div class="h6">Phones</div>
    @if (((int)Phones?.Count()) > 0)
    {
        <ContactableTemplate Items="Phones"
                             TItem="PhoneToWrite"
                             Context="phone"
                             @key="Phone"
                             OnRowClick="Edit">
            <TableHeader>
                <th>Number</th>
                <th>Type</th>
                <th>Primary</th>
            </TableHeader>
            <RowTemplate>
                <td>
                    @phone.ToString()
                </td>
                <td>
                    @phone.PhoneType
                </td>
                <td>
                    <TelerikCheckBox @bind-Value="@phone.IsPrimary" Enabled="false"></TelerikCheckBox>
                </td>
            </RowTemplate>
        </ContactableTemplate>
    }

    @if (Adding || Editing)
    {
        <EditForm Model="Phone">
            <TelerikWindow Visible="DialogVisible"
                           Modal="true">
                <WindowTitle>
                    Phone
                </WindowTitle>
                <WindowContent>
                    <div class="container">
                        <div class="form-group row">
                            <label class="form-control-label">Number</label>
                            <TelerikMaskedTextBox @bind-Value="@Phone.Number"
                                                  Mask="(999) 000-0000"
                                                  Width="100%">
                            </TelerikMaskedTextBox>
                        </div>
                        <div class="form-group row">
                            <label class="form-control-label">Type</label>
                            <TelerikDropDownList @bind-Value="@Phone.PhoneType"
                                                 Data="PhoneTypeEnumData"
                                                 Width="100%"
                                                 TextField="DisplayText"
                                                 ValueField="Value">
                            </TelerikDropDownList>
                        </div>
                        <div class="form-group row">
                            <div>
                                <label>
                                    <TelerikCheckBox @bind-Value="@Phone.IsPrimary"></TelerikCheckBox>
                                    <span class="form-control-label">Primary</span>
                                </label>
                            </div>
                        </div>
                        <div>
                            <TelerikButton OnClick="Save"
                                           Icon="check"
                                           ThemeColor="primary"
                                           ButtonType="ButtonType.Button"
                                           title="Save New Phone">
                                Ok
                            </TelerikButton>
                            <TelerikButton OnClick="Cancel"
                                           ButtonType="ButtonType.Button"
                                           Icon="x"
                                           title="Cancel New Phone">
                                Cancel
                            </TelerikButton>
                        </div>
                    </div>
                </WindowContent>
            </TelerikWindow>
        </EditForm>

    }
    <div>
        <TelerikButton OnClick="Add"
                       Icon="plus"
                       ButtonType="ButtonType.Button"
                       Class="button-border-success"
                       title="Add New Phone">
            Add Phone
        </TelerikButton>
    </div>
</div>