@page "/settings/excisefees"
@page "/settings/excisefees/{Id:long}"

@*<SettingsMenu />*@

<div class="m-main-content">
    <div class="m-form">
        <div>
            <ContentHeader Header="Excise / Disposal / HazMat Fees" />
            @if (ExciseFees == null)
            {
                <p><em>Loading...</em></p>
            }

            @if (ExciseFees != null)
            {
                <TelerikGrid Data="ExciseFees"
                             OnRowClick="OnRowSelected"
                             OnRowDoubleClick="RowDoubleClickAsync"
                             Sortable="true"
                             Pageable="true"
                             FilterMode="GridFilterMode.None"
                             ShowColumnMenu="false"
                             SelectionMode="GridSelectionMode.Single"
                             SelectedItemsChanged="@((IEnumerable<ExciseFeeToReadInList> exciseFeeList) => OnSelect(exciseFeeList))"
                             SelectedItems="@SelectedExciseFees"
                             Class="m-grid"
                             @ref="@Grid">
                    <GridColumns>
                        <GridColumn Width="75%" 
                                    Field="@nameof(ExciseFeeToReadInList.Description)" 
                                    Title="Description">
                        </GridColumn>
                        <GridColumn Width="25%" 
                                    Field="@nameof(ExciseFeeToReadInList.DisplayAmount)" 
                                    Title="Fee"
                                    TextAlign="ColumnTextAlign.Right">
                        </GridColumn>
                    </GridColumns>
                </TelerikGrid>

                <EditNewDeleteButtons OnDone="OnDone" OnEdit="OnEditAsync" OnNew="OnAdd" OnDelete="OnDelete" CanEdit="CanEdit" CanDelete="CanDelete" />
            }
        </div>
    </div>
</div>

@if ((EditFormMode == FormMode.Add || EditFormMode == FormMode.Edit) && ExciseFee != null)
{
    <ExciseFeeEditor ExciseFee="ExciseFee"
                     OnSave="SubmitHandlerAsync"
                     OnCancel="EndAddEditAsync" />
}

<style>
    .m-grid {
        min-height: calc(100vh - 248px);
    }
</style>