@page "/settings/salecodes"

<SettingsMenu />

<div class="m-main-content">
    <div class="m-form">
        <div>
            <ContentHeader Header="Sale Codes" />
            @if (SaleCodes == null)
            {
                <p><em>Loading...</em></p>
            }

            @if (SaleCodes != null)
            {
                <TelerikGrid Data="SaleCodes"
                             OnRowClick="OnRowSelected"
                             OnRowDoubleClick="OnEditAsync"
                             Sortable="true"
                             Pageable="true"
                             FilterMode="GridFilterMode.None"
                             ShowColumnMenu="false"
                             SelectionMode="GridSelectionMode.Single"
                             SelectedItemsChanged="@((IEnumerable<SaleCodeToReadInList> saleCodeList) => OnSelect(saleCodeList))"
                             SelectedItems="SelectedSaleCodes"
                             Class="m-grid"
                             @ref="@Grid">
                    <GridColumns>
                        <GridColumn Width="10%" 
                                    Field="@nameof(SaleCodeToReadInList.Code)" 
                                    Title="Code">
                        </GridColumn>
                        <GridColumn Width="45%" 
                                    Field="@nameof(SaleCodeToReadInList.Name)" 
                                    Title="Description">
                        </GridColumn>
                        <GridColumn Width="20%" 
                                    Field="@nameof(SaleCodeToReadInList.LaborRateDisplayValue)" 
                                    Title="Labor Rate"
                                    TextAlign="ColumnTextAlign.Right">
                        </GridColumn>
                        <GridColumn Width="20%" 
                                    Field="@nameof(SaleCodeToReadInList.DesiredMarginDisplayValue)" 
                                    Title="Desired Margin"
                                    TextAlign="ColumnTextAlign.Right">
                        </GridColumn>
@*                        <GridColumn Width="15%" 
                                    Field="@nameof(SaleCodeToReadInList.CorporateRow)" 
                                    Title="Corp. Row">
                        </GridColumn>
*@                    </GridColumns>
                </TelerikGrid>

                <EditNewDeleteButtons OnDone="OnDone" OnEdit="OnEditAsync" OnNew="OnAdd" OnDelete="OnDelete" CanEdit="CanEdit" CanDelete="CanDelete" />
            }
        </div>
    </div>
</div>

@if ((EditFormMode == FormMode.Add || EditFormMode == FormMode.Edit) && SaleCode != null)
{
    <SaleCodeEditor SaleCode="SaleCode"
                    OnSave="SubmitHandlerAsync"
                    OnCancel="EndAddEditAsync" />
}

<style>
    .m-grid {
        min-height: calc(100vh - 248px);
    }
</style>