@page "/settings/salestaxes"
@page "/settings/salestaxes/{Id:long}"

<div class="m-main-content">
    <div class="m-form">
        @if (SalesTaxFormMode != FormMode.Add && SalesTaxFormMode != FormMode.Edit)
        {
            <ContentHeader Header="Sales Taxes" />
            @if (SalesTaxes == null)
            {
                <p><em>Loading...</em></p>
            }

            @if (SalesTaxes != null)
            {
                <TelerikGrid Data="SalesTaxes"
                     OnRowClick="OnRowSelected"
                     OnRowDoubleClick="RowDoubleClickAsync"
                     Sortable="true"
                     Pageable="true"
                     FilterMode="GridFilterMode.None"
                     ShowColumnMenu="false"
                     SelectionMode="GridSelectionMode.Single"
                     SelectedItemsChanged="@((IEnumerable<SalesTaxToReadInList> taxList) => OnSelect(taxList))"
                     SelectedItems="@SelectedSalesTaxes"
                     Class="m-grid"
                     @ref="Grid">
                    <GridColumns>
                        <GridColumn Width="60%"
                            Field="@nameof(SalesTaxToReadInList.Description)"
                            Title="Tax Name">
                        </GridColumn>
                        <GridColumn Width="20%"
                            Field="@nameof(SalesTaxToReadInList.PartTaxRateDisplay)"
                            Title="Part Rate"
                            TextAlign="ColumnTextAlign.Right">
                        </GridColumn>
                        <GridColumn Width="20%"
                            Field="@nameof(SalesTaxToReadInList.LaborTaxRateDisplay)"
                            Title="Labor Rate"
                            TextAlign="ColumnTextAlign.Right">
                        </GridColumn>
                    </GridColumns>
                </TelerikGrid>

                <EditNewDeleteButtons OnDone="OnDone" OnEdit="OnEditAsync" OnNew="OnAdd" OnDelete="OnDelete" CanEdit="CanEdit" CanDelete="CanDelete" />
            }
        }
    </div>
</div>

@if ((SalesTaxFormMode == FormMode.Add || SalesTaxFormMode == FormMode.Edit) && SalesTax != null)
{
    <SalesTaxEditor SalesTax="SalesTax"
                OnSave="SubmitHandlerAsync"
                OnCancel="EndAddEditAsync" />
}

<style>
    .m-grid {
        min-height: calc(100vh - 248px);
    }
</style>
