@page "/settings/vendorpaymentmethods"
@page "/settings/vendorpaymentmethods/{PayMethodToSelect:long}"

<div class="m-main-content">
    <div class="m-form">
        <div>
            <ContentHeader Header="Vendor Invoice Payment Methods" />

            @if (PayMethods == null)
            {
                <p><em>Loading...</em></p>
            }

            @if (PayMethods != null)
            {
                <TelerikGrid Data="PayMethods"
                             OnRowClick="@OnRowSelected"
                             OnRowDoubleClick="@RowDoubleClickAsync"
                             Sortable="true"
                             Pageable="true"
                             FilterMode="GridFilterMode.FilterMenu"
                             ShowColumnMenu="true"
                             SelectionMode="GridSelectionMode.Single"
                             SelectedItemsChanged="@((IEnumerable<VendorInvoicePaymentMethodToReadInList> payMethodList) => OnSelect(payMethodList))"
                             SelectedItems="@SelectedList"
                             Class="m-grid"
                             @ref="@Grid">
                    <GridToolBarTemplate>
                        <TelerikCheckBox Id="myCheckBox" @bind-Value="@ShowInactive" />
                        <label for="myCheckBox" class="mb-0">Show Inactive</label>

                    </GridToolBarTemplate>
                    <GridSettings>
                        <GridColumnMenuSettings Lockable="false"
                                            ShowColumnChooser="false">
                        </GridColumnMenuSettings>
                    </GridSettings>
                    <GridColumns>
                        <Telerik.Blazor.Components.GridColumn Field="@nameof(VendorInvoicePaymentMethodToReadInList.Name)" Title="Name"></Telerik.Blazor.Components.GridColumn>
                        <Telerik.Blazor.Components.GridColumn Field="@nameof(VendorInvoicePaymentMethodToReadInList.PaymentTypeDescription)" Title="Type"></Telerik.Blazor.Components.GridColumn>
                    </GridColumns>
                </TelerikGrid>

                <EditNewDeleteButtons OnDone="@OnDone" OnEdit="@OnEditAsync" OnNew="@OnAdd" OnDelete="@OnDeleteAsync" 
                                      CanEdit="@CanEdit"  CanDelete="@CanDelete" />
            }
        </div>
    </div>
</div>

@if ((PayMethodFormMode == FormMode.Add || PayMethodFormMode == FormMode.Edit) && PayMethod != null)
{
    <VendorInvoicePaymentMethodEditor PaymentMethod="PayMethod"
                Mode="PayMethodFormMode"
                OnSave="SubmitHandlerAsync"
                OnCancel="EndAddEditAsync" />
}

<style>
    .m-grid {
        min-height: calc(100vh - 248px);
    }
</style>