@page "/repairorders/worklog"
@page "/repairorders/worklog/{ROToSelect:long}"

@using Menominee.Client.Components.RepairOrders
@using CustomerVehicleManagement.Shared.Models.RepairOrders;

<RepairOrdersMenu />

<div class="m-main-content">
    @*<div class="m-form m-fixed-height">*@
    <div class="m-form">
        <div>
            <ContentHeader Header="Work Log" />
            @if (ROList == null)
            {
                <p><em>Loading...</em></p>
            }

            @if (ROList != null)
            {
                <TelerikGrid Data="ROList"
                             OnRowClick="@OnRowSelected"
                             OnRowDoubleClick="@OnEdit"
                             Sortable="true"
                             Pageable="true"
                             FilterMode="GridFilterMode.FilterMenu"
                             ShowColumnMenu="true"
                             SelectionMode="GridSelectionMode.Single"
                             SelectedItemsChanged="@((IEnumerable<RepairOrderToReadInList> roList) => OnSelect(roList))"
                             SelectedItems="@SelectedList"
                             Class="m-grid"
                             @ref="@Grid">
                    <GridColumns>
                        <GridColumn Width="18%"
                                    Field="@nameof(RepairOrderToReadInList.RepairOrderNumber)"
                                    Title="RO Number">
                        </GridColumn>
                        <GridColumn Width="18%"
                                    Field="@nameof(RepairOrderToReadInList.InvoiceNumber)"
                                    Title="Invoice Number">
                        </GridColumn>
                        <GridColumn Width="25%"
                                    Field="@nameof(RepairOrderToReadInList.CustomerName)"
                                    Title="Customer">
                        </GridColumn>
                        <GridColumn Width="25%"
                                    Field="@nameof(RepairOrderToReadInList.Vehicle)"
                                    Title="Vehicle">
                        </GridColumn>
                        <GridColumn Width="14%"
                                    Field="@nameof(RepairOrderToReadInList.Total)"
                                    Title="Total"
                                    TextAlign="ColumnTextAlign.Right"
                                    DisplayFormat="{0:C}">
                        </GridColumn>
                    </GridColumns>
                </TelerikGrid>

                <EditNewDeleteButtons OnDone="@OnDone" OnEdit="@OnEdit" OnNew="@OnAdd" CanEdit="@CanEdit" />
            }
        </div>
    </div>
</div>

<style>
    /*.m-grid-container, */
    .m-grid {
        /*height: calc(100vh - 265px);*/
        /*min-height: 150px !important;*/
        min-height: calc(100vh - 248px);
    }
</style>
