<div class="container">
    <div class="h6">Emails</div>
    @if (FormMode == FormMode.Add)
    {
        // If there are emails, list them in a table. If adding email, hide email list
        @if (((int)EmailsToWrite.Count()) > 0 && !Adding)
        {
            <ContactableTemplate Items="EmailsToWrite"
                                 TItem="EmailToWrite"
                                 Context="email">
                <TableHeader>
                    <th>Address</th>
                    <th>Primary</th>
                </TableHeader>
                <RowTemplate>
                    <td>
                        @email.Address
                    </td>
                    <td>
                        <TelerikCheckBox @bind-Value="email.IsPrimary" Enabled="false" />
                    </td>
                </RowTemplate>
            </ContactableTemplate>
        }

        // If adding email, show the edit form
        @if (Adding)
        {
            <EditForm Model="EmailToWrite">

                <TelerikWindow Visible="DialogVisible"
                               Modal="true">
                    <WindowTitle>
                        Email
                    </WindowTitle>
                    <WindowContent>
                        <div class="container">
                            <div class="form-group row">
                                <label class="form-control-label">Address</label>
                                <TelerikTextBox @bind-Value="@EmailToWrite.Address"
                                                Width="100%">
                                </TelerikTextBox>
                            </div>
                            <div class="form-group row">
                                <label>
                                    <TelerikCheckBox @bind-Value="@EmailToWrite.IsPrimary"></TelerikCheckBox>
                                    <span class="form-control-label">Primary</span>
                                </label>
                            </div>
                            <div>
                                <TelerikButton OnClick='() => Save("EmailToWrite")'
                                               Icon="check"
                                               ButtonType="ButtonType.Button"
                                               Primary="true"
                                               title="Save New Email">
                                    Ok
                                </TelerikButton>
                                <TelerikButton OnClick="CancelAddEmail"
                                               Icon="x"
                                               ButtonType="ButtonType.Button"
                                               title="Cancel New Email">
                                    Cancel
                                </TelerikButton>
                            </div>

                        </div>
                    </WindowContent>
                </TelerikWindow>

            </EditForm>
        }
        <div>
            <TelerikButton OnClick='() => AddAsync("EmailToWrite")'
                           Icon="plus"
                           ButtonType="ButtonType.Button"
                           Class="button-border-success"
                           Enabled="!Adding"
                           title="Add New Email">
                Add Email
            </TelerikButton>
        </div>
    }

    @if (FormMode == FormMode.Edit)
    {
        // If there are emails, list them in a table.
        @if (((int)EmailsToWrite?.Count()) > 0)
        {
            <ContactableTemplate Items="EmailsToWrite"
                                 TItem="EmailToWrite"
                                 Context="email"
                                 @key="EmailToWrite"
                                 OnRowClick="Edit">
                <TableHeader>
                    <th>Address</th>
                    <th>Primary</th>
                </TableHeader>
                <RowTemplate>
                    <td>
                        @email.Address
                    </td>
                    <td>
                        <TelerikCheckBox @bind-Value="email.IsPrimary" Enabled="false" />
                    </td>
                </RowTemplate>
            </ContactableTemplate>
        }

        // If adding or editing email, show the edit form
        @if (Adding || Editing)
        {
            <EditForm Model="EmailToWrite">
                <TelerikWindow Visible="DialogVisible"
                               Modal="true">
                    <WindowTitle>
                        Email
                    </WindowTitle>
                    <WindowContent>
                        <div class="container">
                            <div class="form-group row">
                                <label class="form-control-label">Address</label>
                                <TelerikTextBox @bind-Value="@EmailToWrite.Address"
                                                Width="100%"
                                                @ref="EmailAddressControl">
                                </TelerikTextBox>
                            </div>
                            <div class="form-group row">
                                <label>
                                    <TelerikCheckBox @bind-Value="@EmailToWrite.IsPrimary"></TelerikCheckBox>
                                    <span class="form-control-label">Primary</span>
                                </label>
                            </div>
                            <div>
                                <TelerikButton OnClick='() => Save("EmailToWrite")'
                                               Icon="check"
                                               Primary="true"
                                               ButtonType="ButtonType.Button"
                                               title="Save New Email">
                                    Ok
                                </TelerikButton>
                                <TelerikButton OnClick="CancelEditEmail"
                                               ButtonType="ButtonType.Button"
                                               Icon="x"
                                               title="Cancel New Email">
                                    Cancel
                                </TelerikButton>
                            </div>
                        </div>
                    </WindowContent>
                </TelerikWindow>
            </EditForm>

        }
        <div>
            <TelerikButton OnClick='() => AddAsync("EmailToWrite")'
                           Icon="plus"
                           ButtonType="ButtonType.Button"
                           Class="button-border-success"
                           title="Add New Email">
                Add Email
            </TelerikButton>
        </div>
    }
</div>