<tr @onclick="@(e => EditAsync(Organization.Id))">
    <td>@Organization.Name</td>
    <td>@Organization.AddressFull</td>
    <td>@Organization.PrimaryPhone</td>
    <td>@Organization.PrimaryPhoneType</td>
    <td>@Organization.PrimaryEmail</td>
    <td>@Organization.Note</td>
</tr>