@using Telerik.FontIcons
@if (Organizations == null)
{
    <img src="/assets/loader-blue-purple.gif" />
}

@if (Organizations.Count == 0)
{
    <p>There are no Organization records.</p>
}

@if (Organizations != null)
{
    <TelerikGrid Data="Organizations"
             OnRowClick="GridRowClicked"
             Sortable="true"
             Pageable="true"
             FilterMode="GridFilterMode.FilterMenu"
             Resizable="true"
             Reorderable="true"
             ShowColumnMenu="true"
             OnStateInit="@((GridStateEventArgs<Menominee.Shared.Models.Organizations.OrganizationToReadInList> args) => OnStateInitHandler(args))"
             OnStateChanged="@((GridStateEventArgs<Menominee.Shared.Models.Organizations.OrganizationToReadInList> args) => OnStateChangedHandler(args))"
             @ref="@Grid">
        <GridToolBarTemplate>
            <TelerikButton OnClick="@ResetState"
                       Icon="@FontIcon.Undo"
                       Title="Reset grid to default layout/columns..."></TelerikButton>
            <span class="k-toolbar-spacer"></span>
            <GridCommandButton Command="ExcelExport"
                           Icon="@FontIcon.FileExcel"
                           Title="Export to Excel"
                           OnClick="@ShowLoadingSymbol">
            </GridCommandButton>
            <GridCommandButton Command="CsvExport"
                           OnClick="@ShowLoadingSymbol"
                           Title="Export to CSV"
                           Icon="@FontIcon.FileCsv">
            </GridCommandButton>
            <label class="k-checkbox-label"
               title="Export all: unchecking will export only rows currently visible in grid">
                <TelerikCheckBox @bind-Value="@ExportAllPages" /><span class="small">Export All</span>
            </label>
            <span class="k-toolbar-spacer"></span>
            <GridSearchBox />
        </GridToolBarTemplate>
        <GridExport>
            <GridExcelExport FileName="Organizations" AllPages="true" />
        </GridExport>
        <GridColumns>
            <GridColumn Field="Name" Title="Name"></GridColumn>
            <GridColumn Field="AddressFull" Title="Address"></GridColumn>
            <GridColumn Field="PrimaryPhone" Title="Primary Phone"></GridColumn>
            <GridColumn Field="PrimaryPhoneType" Title="Type"></GridColumn>
            <GridColumn Field="PrimaryEmail" Title="Primary Email"></GridColumn>
            <GridColumn Field="Notes" Title="Notes"></GridColumn>
        </GridColumns>
    </TelerikGrid>

    <TelerikWindow Visible="@isExporting" Modal="true">
        <WindowTitle>Please wait...</WindowTitle>
        <WindowContent>
            <TelerikLoader Size="@ThemeConstants.Loader.Size.Large" />
            We are exporting your data; your file will download shortly.
        </WindowContent>
    </TelerikWindow>
    <TelerikWindow Visible="@isExporting" Modal="true">
        <WindowTitle>Please wait...</WindowTitle>
        <WindowContent>
            <TelerikLoader Size="@ThemeConstants.Loader.Size.Large" />
            We are exporting your data; your file will download shortly.
        </WindowContent>
    </TelerikWindow>
}