<div class="person-name-container">

    <div class="row">
        <div class="col-9 pl-0">
            <label for="firstName">First Name</label>
            <TelerikTextBox @bind-Value="@Name.FirstName"
                            Id="firstName"
                            AutoComplete="off"
                            Width="100%">
            </TelerikTextBox>
            <TelerikValidationMessage For="@(() => Name.FirstName)" />
        </div>
        <div class="col-3 p-0">
            <label for="middleName">Middle</label>
            <TelerikTextBox @bind-Value="@Name.MiddleName"
                            Id="middleName"
                            AutoComplete="off"
                            Width="100%">
            </TelerikTextBox>
            <TelerikValidationMessage For="@(() => Name.MiddleName)" />
        </div>
    </div>

    <div class="row  mb-0">
        <label for="lastName">Last Name</label>
        <TelerikTextBox @bind-Value="@Name.LastName"
                        Id="lastName"
                        AutoComplete="off"
                        Width="100%">
        </TelerikTextBox>
        <TelerikValidationMessage For="@(() => Name.LastName)" />
    </div>

</div>


<style>
    .person-name-container {
        display: grid;
    }
</style>