@page "/settings/companyinfo"
@using MenomineePlayWASM.Client.Components.Settings

<SettingsMenu />

@if (Company != null)
{
    <div class="m-main-content">
        <div class="ui form">
            <EditForm Model="@Company" OnValidSubmit="SaveChanges">
                <DataAnnotationsValidator />
                <h3 class="m-bordered-form-header">Company Information</h3>
                <div class="m-bordered-form">
                    <div class="m-pad-bottom">
                        <label for="name2">Company Name</label>
                        <input class="m-form-field" type="text" id="name" @bind-value="@Company.Name" placeholder="Enter company name">
                        <ValidationMessage For="@(() => Company.Name)" />
                    </div>

                    <div class="m-pad-bottom">
                        <label for="street1">Address 1</label>
                        <InputText class="m-form-field" id="street1" @bind-Value="@Company.Street1" placeholder="Enter address line 1"></InputText>
                    </div>

                    <div class="m-pad-bottom">
                        <label for="street2">Address 2</label>
                        <InputText class="m-form-field" id="street2" @bind-Value="@Company.Street2" placeholder="Enter address line 2"></InputText>
                    </div>

                    <div class="ui grid m-pad-bottom">
                        <div class="eight wide computer sixteen wide tablet column m-no-pad-top-left m-margin-right">
                            <label for="city">City</label>
                            <InputText class="m-form-field" id="city" @bind-Value="@Company.City" placeholder="Enter city"></InputText>
                        </div>

                        <div class="three wide computer nine wide tablet column m-no-pad-top-left m-margin-right">
                            <label>State/Prov</label>
                            <InputSelect id="state" class="m-form-field" @bind-Value=Company.State>
                                <option>--select state--</option>
                                @foreach (var state in States)
                                    {
                                    <option value="@state.Abbreviation">@state.Name</option>
                                    }
                            </InputSelect>
                        </div>
                        <div class="two wide computer four wide tablet column m-no-pad-top-left">
                            <div><label>Postal</label></div>
                            <InputText class="m-form-field" id="postalCode" @bind-Value="@Company.PostalCode" placeholder="Enter postal code"></InputText>
                        </div>
                    </div>

                    <div class="m-pad-bottom">
                        <div><label>Phone</label></div>
                        <input class="m-form-field" type="text" id="phone" @bind-value="@Company.Phone" placeholder="Enter phone">
                    </div>

                    <SaveDiscardButtons OnSave="@SaveChanges" OnDiscard="@DiscardChanges" />
                </div>
            </EditForm>
        </div>
    </div>
}

<style>
    .ui.grid {
        margin: 0;
        padding-bottom: 0;
        /*padding: 0 !important;*/
    }

    #phone {
        max-width: 8rem;
    }
</style>
