@page "/organizations"

<div class="container">
    <div class="h5">Organizations</div>

    @if (OrganizationsList == null)
    {
        @if (!EditingOrganization && !AddingOrganization)
        {
            <p><em>Loading...</em></p>
        }
    }

    @if (!EditingOrganization && !AddingOrganization && OrganizationsList != null)
    {
        <div class="pb-3">
            <TelerikButton OnClick="Add"
                           Primary="true"
                           Icon="plus"
                           title="Add New Organization">
                Add Organization
            </TelerikButton>
        </div>
        <OrganizationsGrid Organizations="OrganizationsList"
                           OnSelected="HandleSelectedOrganizationAsync" />
    }


    @if ((AddingOrganization || EditingOrganization) && organization != null)
    {
        <EditForm Model="@organization"
                  OnValidSubmit="SubmitForm">
            <OrganizationEditor TItem="OrganizationToWrite"
                                Item="@organization"
                                NameProperty="Name"
                                NoteProperty="Note"
                                Updated="EditorUpdated"/>
            <FluentValidationValidator />
            <TelerikGridLayout>
                <GridLayoutColumns>
                    <GridLayoutColumn Width="30%"></GridLayoutColumn>
                    <GridLayoutColumn Width="35%"></GridLayoutColumn>
                    <GridLayoutColumn Width="35%"></GridLayoutColumn>
                </GridLayoutColumns>
                <GridLayoutRows>
                    <GridLayoutRow></GridLayoutRow>
                </GridLayoutRows>
                <GridLayoutItems>
                    <GridLayoutItem>
                        @if (organization?.Address != null)
                        {
                            <div class="row">
                                <div class="h6"
                                     tabindex="-1"
                                     @onclick="@(() => EnableEditor = true)"
                                     title="Edit Address">
                                    Address
                                    &nbsp &nbsp
                                    <TelerikIcon Icon="pencil" />
                                </div>
                                <div class="pl-4"></div>
                                <div tabindex="-1"
                                     @onclick="@(() => organization.Address = null)"
                                     title="Delete Address">
                                    <TelerikIcon Icon="trash" />
                                </div>
                            </div>

                            <AddressEditor TItem="AddressToWrite"
                                           Item="@organization.Address"
                                           Cancel="CancelAddress"
                                           Ok="SaveAddress"
                                           Enabled="EnableEditor"
                                           AddressLineProperty="AddressLine"
                                           CityProperty="City"
                                           StateProperty="State"
                                           PostalCodeProperty="PostalCode"
                                           Updated="EditorUpdated"/>
                        }


                        @*<AddressDialog Address="organization?.Address"
                            Cancel="CancelAddress"
                            Ok="SaveAddress"
                            Enabled="true"
                            Updated="AddressEditorUpdated" />*@


                        @if (organization?.Address == null)
                        {
                            <div class="h6"
                                 tabindex="-1">
                                Address
                                &nbsp &nbsp
                            </div>
                            <TelerikButton OnClick="AddAddress"
                                           Icon="plus"
                                           Class="button-border-success"
                                           title="Add New Address">
                                Add Address
                            </TelerikButton>
                        }
                    </GridLayoutItem>
                    <GridLayoutItem>
                        <PhonesEditor Phones="@organization?.Phones" />
                    </GridLayoutItem>
                    <GridLayoutItem>
                        <EmailsEditor Emails="@organization?.Emails" />
                    </GridLayoutItem>
                </GridLayoutItems>
            </TelerikGridLayout>
            <div class="pt-4">
                <EditFormButtons Close="CloseEditorAsync"
                                 EnableSave="@(context.Validate())"/>
            </div>
        </EditForm>
    }
</div>
