@page "/payables/vendors/listing"
@page "/payables/vendors/listing/{VendorToSelect:long}"

<div class="m-main-content">
    <div class="m-form">
        <div>
            <ContentHeader Header="Vendors" />

            @if (VendorsList == null)
            {
                <p><em>Loading...</em></p>
            }

            @if (VendorsList != null)
            {
                <TelerikGrid Data="VendorsList"
                         OnRowClick="@OnRowSelected"
                         OnRowDoubleClick="@OnEdit"
                         Sortable="true"
                         Pageable="true"
                         FilterMode="GridFilterMode.FilterMenu"
                         ShowColumnMenu="true"
                         SelectionMode="GridSelectionMode.Single"
                         SelectedItemsChanged="@((IEnumerable<VendorToRead> vendorList) => OnSelect(vendorList))"
                         SelectedItems="@SelectedList"
                         Class="m-grid"
                         @ref="@Grid">
                    <GridToolBarTemplate>
                        <TelerikCheckBox Id="myCheckBox" @bind-Value="@ShowInactive" />
                        <label for="myCheckBox" class="mb-0">Show Inactive</label>
                        <span class="k-toolbar-spacer"></span>
                        <GridSearchBox />
                    </GridToolBarTemplate>
                    <GridSettings>
                        <GridColumnMenuSettings Lockable="false"
                                            ShowColumnChooser="false">
                        </GridColumnMenuSettings>
                    </GridSettings>
                    <GridColumns>
                        <Telerik.Blazor.Components.GridColumn Width="115px" Field="@nameof(VendorToRead.VendorCode)" Title="ID"></Telerik.Blazor.Components.GridColumn>
                        <Telerik.Blazor.Components.GridColumn Field="@nameof(VendorToRead.Name)" Title="Name"></Telerik.Blazor.Components.GridColumn>
                    </GridColumns>
                </TelerikGrid>

                <EditNewDeleteButtons OnDone="@OnDone" OnEdit="@OnEdit" OnNew="@OnAdd" OnDelete="@OnDelete" />
            }
        </div>
    </div>
</div>

<style>
    .m-grid {
        min-height: calc(100vh - 248px);
    }
</style>