@page "/payables/invoices/listing"
@page "/payables/invoices/listing/{ItemToSelect:long}"

<div class="m-main-content">
    <div class="m-form">
        <div>
            <ContentHeader Header="Invoices" />
            @if (InvoiceList == null)
            {
                <p><em>Loading...</em></p>
            }

            @if (InvoiceList is not null)
            {
                <TelerikGrid Data="InvoiceList"
                         OnRowClick="OnRowSelected"
                         OnRowDoubleClick="OnEdit"
                         Sortable="true"
                         Pageable="true"
                         FilterMode="GridFilterMode.FilterMenu"
                         ShowColumnMenu="true"
                         SelectionMode="GridSelectionMode.Single"
                         SelectedItemsChanged="(IEnumerable<VendorInvoiceToReadInList> invoiceList) => OnSelect(invoiceList)"
                         SelectedItems="SelectedInvoices"
                         Class="m-grid"
                         @ref="Grid">

                    <GridToolBar>
                        <label class="m-toolbar-label">Vendor</label>
                        <TelerikDropDownList @bind-Value="ResourceParameters.VendorId"
                                         Data="Vendors"
                                         TextField="Name"
                                         ValueField="Id"
                                         Width="240px"
                                         DefaultText="All Vendors"
                                         OnChange="OnVendorFilterChangeHandlerAsync">
                        </TelerikDropDownList>
                        <label class="m-toolbar-label">Status</label>
                        <TelerikDropDownList @bind-Value="ResourceParameters.Status"
                                         Data="VendorInvoiceStatusEnumData"
                                         TextField="DisplayText"
                                         ValueField="Value"
                                         Width="240px"
                                         DefaultText="All"
                                         OnChange="OnStatusFilterChangeHandlerAsync">
                            <DropDownListSettings>
                                <DropDownListPopupSettings Height="130px" />
                            </DropDownListSettings>
                        </TelerikDropDownList>
                        @*<span class="k-toolbar-spacer"></span>*@
                        <label class="m-toolbar-label"></label>
                        <GridSearchBox />
                    </GridToolBar>
                    <GridSettings>
                        <GridColumnMenuSettings Lockable="false"
                                            ShowColumnChooser="false">
                        </GridColumnMenuSettings>
                    </GridSettings>
                    <GridColumns>
                        <GridColumn Width="15%" Field="@nameof(VendorInvoiceToReadInList.VendorCode)" Title="Vendor Code" Filterable="false"></GridColumn>
                        <GridColumn Width="25%" Field="@nameof(VendorInvoiceToReadInList.VendorName)" Title="Vendor Name" Filterable="false"></GridColumn>
                        <GridColumn Width="15%" Field="@nameof(VendorInvoiceToReadInList.Date)" Title="Date" DisplayFormat="{0:yyyy MM dd}"></GridColumn>
                        <GridColumn Width="15%" Field="@nameof(VendorInvoiceToReadInList.Status)" Title="Status" Filterable="false"></GridColumn>
                        <GridColumn Width="15%" Field="@nameof(VendorInvoiceToReadInList.InvoiceNumber)" Title="Invoice #"></GridColumn>
                        <GridColumn Width="15%" Field="@nameof(VendorInvoiceToReadInList.Total)" Title="Total" DisplayFormat="{0:C}"></GridColumn>
                    </GridColumns>
                </TelerikGrid>

                <EditNewDeleteButtons OnDone="@OnDone" OnEdit="@OnEdit" OnNew="@OnAdd" OnDelete="@OnDelete" CanEdit="@CanEdit" CanDelete="@CanDelete" />
            }
        </div>
    </div>
</div>

<style>
    .m-grid {
        min-height: calc(100vh - 248px);
    }

    .m-toolbar-label {
        margin-top: .25rem;
        margin-bottom: .25rem;
    }

        .m-toolbar-label:not(:first-of-type) {
            margin-left: 1rem;
        }

</style>
