@page "/payables/invoices/{id:long}"
@using Menominee.Client.Components.Payables

@if (Invoice is not null)
{
    <div class="m-main-content m-boxshadow">
        <VendorInvoiceEditor Invoice="@Invoice" InvoiceId="@Id" FormMode="@FormMode" OnSaveAndExit="@SaveAndExit" OnSave="@Save" OnDiscard="@Discard" />
    </div>
}