@page "/telerikschedule"

@using MenomineePlayWASM.Client.Components.Scheduler

<SchedulerMenu />

<div class="m-main-content">
    <div class="ui form">
        <div class="m-form m-fixed-height">
            <div>
                <ContentHeader Header="Daily Schedule" />

                <div class="no-timeline-button">
                    <TelerikScheduler Data="@Appointments" 
                                      @bind-Date="@StartDate" 
                                      @bind-View="@CurrView" 
                                      AllowCreate="true"
                                      AllowDelete="true"
                                      AllowUpdate="true"
                                      Width="100%" 
                                      Height="calc(100vh - 200px)" 
                                      StartField="@(nameof(AppointmentData.StartTime))"
                                      EndField="@(nameof(AppointmentData.EndTime))">
                        <SchedulerResources>
                            <SchedulerResource Field="Id" Title="Tech" Data="@TechData" />
                        </SchedulerResources>
                        <SchedulerViews>
                            <SchedulerTimelineView StartTime="@DayStart" 
                                                   EndTime="@DayEnd" 
                                                   WorkDayStart="@DayStart" 
                                                   WorkDayEnd="@DayEnd" 
                                                   SlotDuration="60" 
                                                   SlotDivisions="4">
                            </SchedulerTimelineView>
                        </SchedulerViews>
                    </TelerikScheduler>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .no-timeline-button .k-scheduler-views-wrapper {
        visibility: hidden;
    }

/*    .k-scheduler-row {

    }*/

/*    .no-timeline-button .k-scheduler.cell .k-heading-cell {
        text-align: left;
    }*/

    .k-scheduler-layout-flex .k-scheduler-cell.k-heading-cell {
        justify-content: left;
    }

    .k-scheduler-cell .k-group-cell:first-child {
        visibility: hidden;
    }
</style>