@page "/organization/edit/{Id:long}"
@using Menominee.OrganizationDtos.Components

<h4>Edit Organization</h4>

@if (Organization != null)
{
    <div class="container-fluid">
        <EditForm Model="Organization"
                  OnSubmit="HandleSubmit">

            <div class="form-group row">
                <label for="name" class="small text-muted">Organization Name</label>
                <InputText id="name" class="form-control" @bind-Value="@Organization.Name" />
            </div>

            <div class="form-group row">
                <label for="note" class="small text-muted">Notes</label>
                <InputText id="note" class="form-control" @bind-Value="@Organization.Note" />
            </div>

            <div class="row ml-1">
                @if (Organization.Address != null)
                {
                    <div class="form-group">
                        <AddressEdit Address="@Organization.Address" />
                    </div>
                }
                else
                {
                    @if (!AddingAddress)
                    {
                        <div class="form-group row">
                            <button class="btn btn-sm btn-success mr-1" @onclick="AddAddress">
                                <span class="oi oi-plus" title="Add Organization Address" aria-hidden="true"></span>
                            </button>
                            <span class="small ml=1">Add Address</span>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <AddressAdd Address="@AddressToAdd" />
                        </div>
                    }
                }

                <div class="form-group ml-4 col-sm">
                    <EmailsEdit Emails="@Organization.Emails"></EmailsEdit>
                </div>
                <div class="form-group col-sm">
                    <PhonesEdit Phones="@Organization.Phones"></PhonesEdit>
                </div>
            </div>

            <div class="form-group row">

                <button type="submit" class="btn btn-primary">
                    Save
                </button>

                <a class="btn btn-outline-primary ml-1" @onclick="@Close">
                    Close
                </a>

            </div>

        </EditForm>
    </div>
}