@page "/organizations"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<h4>Organizations</h4>

@if (OrganizationsList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex flex-row w-25">
        <a class="btn btn-primary" @onclick="Add">
            <span class="oi oi-plus" title="Add New Organization" aria-hidden="true"></span> Add Organization
        </a>
    </div>

    <div class="d-flex flex-row">
        <div class="d-flex flex-row">
            <table class="table table-responsive table-striped small">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Primary Phone</th>
                        <th>Type</th>
                        <th>Primary Email</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var organization in OrganizationsList)
                    {
                        <tr @onclick="@(e => Edit(organization.Id))">
                            <td>@organization.Name</td>
                            <td>@organization.AddressFull</td>
                            <td>@organization.PrimaryPhone</td>
                            <td>@organization.PrimaryPhoneType</td>
                            <td>@organization.PrimaryEmail</td>
                            <td>@organization.Note</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@if (FormMode == FormMode.Add && OrganizationsList == null)
{
    <OrganizationEditForm FormMode="FormMode.Add" />
}
@if (FormMode == FormMode.Edit && OrganizationsList == null)
{
    <OrganizationEditForm OnEditCompleted="EditCompletedAsync" FormMode="FormMode.Edit" Id="Id"/>
}