@using Telerik.FontIcons
@if (CustomersList == null)
{
    <img src="/assets/loader-blue-purple.gif" />
}

@if (CustomersList.Count == 0)
{
    <p>There are no Customer records.</p>
}

@if (CustomersList != null)
{
    <TelerikGrid Data="CustomersList"
             OnRowClick="@RowClicked"
             Sortable="true"
             Pageable="true"
             FilterMode="GridFilterMode.FilterMenu"
             Resizable="true"
             Reorderable="true"
             ShowColumnMenu="true"
             OnStateInit="@((GridStateEventArgs<CustomerToReadInList> args) => OnStateInitHandler(args))"
             OnStateChanged="@((GridStateEventArgs<CustomerToReadInList> args) => OnStateChangedHandler(args))"
             @ref="@Grid">
        <GridToolBarTemplate>
            <GridCommandButton Command=""
                           Icon="@FontIcon.Plus"
                           Title="Add New Customer"
                           OnClick="@AddAsync">
                Add Customer
            </GridCommandButton>
            <span class="k-toolbar-spacer"></span>
            <TelerikButton OnClick="@ResetState"
                       Icon="@FontIcon.Undo"
                       Title="Reset grid to default layout/columns..."></TelerikButton>
            <GridSearchBox />
        </GridToolBarTemplate>
        <GridExport>
            <GridExcelExport FileName="Customers" AllPages="true" />
        </GridExport>
        <GridColumns>
            <GridColumn Field="EntityType" Title="Class"></GridColumn>
            <GridColumn Field="Name" Title="Name"></GridColumn>
            <GridColumn Field="CustomerType" Title="Type"></GridColumn>
            <GridColumn Field="AddressFull" Title="Address"></GridColumn>
            <GridColumn Field="PrimaryPhone" Title="Primary Phone"></GridColumn>
            <GridColumn Field="PrimaryEmail" Title="Primary Email"></GridColumn>
        </GridColumns>
    </TelerikGrid>
}