<TelerikWindow Visible="true"
               Modal="true"
               Width="50%"
               MaxWidth="1440px"
               MaxHeight="100%"
               MinHeight="90%"
               Resizable="false"
               Class="popupWindowClass">
    <WindowTitle>
        @Title
    </WindowTitle>
    <WindowContent>
        <TelerikForm Model="@Customer" OnValidSubmit="@HandleSubmit" Columns="12" ColumnSpacing="24px" @ref="CustomerForm">
            <FormValidation>
                <FluentValidationValidator DisableAssemblyScanning="@true" />
            </FormValidation>

            <FormItems>

                <FormItem Field="@nameof(Customer.CustomerType)" ColSpan="6">
                    <Template>
                        <label class="k-label" for="customerType">Customer Type</label>
                        <TelerikDropDownList @bind-Value="Customer.CustomerType"
                                             Data="CustomerTypeEnumData"
                                             OnChange="CustomerTypeChanged"
                                             TextField="DisplayText"
                                             ValueField="Value"
                                             Width="100%"
                                             Id="customerType">
                            <DropDownListSettings>
                                <DropDownListPopupSettings Height="198px" />
                            </DropDownListSettings>
                        </TelerikDropDownList>
                    </Template>
                </FormItem>

                <FormItem Field="@nameof(Customer.Code)" ColSpan="6">
                    <Template>
                        <label class="k-label" for="code">Code</label>
                        <TelerikTextBox @bind-Value="Customer.Code"
                                        Id="code"
                                        AutoComplete="off"
                                        Width="100%">
                        </TelerikTextBox>
                        <TelerikValidationMessage For="@(() => Customer.Code)" />
                    </Template>
                </FormItem>

                <FormItem ColSpan="12" Class="mt-8">
                    <Template>
                        @if (Customer.EntityType == EntityType.Person)
                        {
                            <div class="form-group row">
                                <PersonNameEditor Name="Customer.Person.Name" />
                            </div>
                        }

                        @if (Customer.EntityType == EntityType.Business)
                        {
                            <div class="form-group row">
                                <label for="name" class="k-label">Name</label>
                                <TelerikTextBox @bind-Value="Customer.Business.Name.Name"
                                                Id="name"
                                                AutoComplete="off"
                                                Width="100%">
                                </TelerikTextBox>
                                <TelerikValidationMessage For="@(() => Customer.Business.Name.Name)" />
                            </div>
                        }
                    </Template>
                </FormItem>

                <FormItem ColSpan="12" Class="mt-8">
                    <Template>
                        <TelerikTabStrip PersistTabContent="true" ActiveTabIndexChanged="@TabChangedHandler">
                            <TabStripTab Title="Contact" Class="m-rounded-tab">
                                <div class="contact-info">
                                    <div class="p-0">
                                        <Card Title="Address">
                                            <Content>
                                                <AddressEditor Address=@((Customer.EntityType == EntityType.Person)
                                                               ? Customer.Person.Address
                                                               : Customer.Business.Address)
                                                               OnChange="@ValidateCustomerForm"
                                                               OnDelete="@DeleteAddress" />
                                            </Content>
                                        </Card>
                                    </div>
                                    <div class="phones-emails">
                                        <div class="phone-email-card">
                                            <Card Title="Phones">
                                                <Content>
                                                    <PhoneListEditor Phones=@((Customer.EntityType == EntityType.Person)
                                                                     ? Customer.Person.Phones
                                                                     : Customer.Business.Phones)
                                                                     DefaultPhoneType="@PhoneType.Mobile"
                                                                     FormMode="@FormMode" />
                                                </Content>
                                            </Card>
                                        </div>
                                        <div class="phone-email-card">
                                            <Card Title="Emails">
                                                <Content>
                                                    <EmailListEditor Emails=@((Customer.EntityType == EntityType.Person)
                                                                     ? Customer.Person.Emails
                                                                     : Customer.Business.Emails)
                                                                     FormMode="@FormMode" />
                                                </Content>
                                            </Card>
                                        </div>
                                    </div>
                                </div>
                            </TabStripTab>
                            <TabStripTab Title="Notes" Class="m-rounded-tab">
                                <div>
                                    @if (Customer.Person is not null)
                                    {
                                        <TelerikTextArea Id="notesPerson" AutoSize="true" @bind-Value="Customer.Person.Notes"></TelerikTextArea>
                                    }
                                    else if (Customer.Business is not null)
                                    {
                                        <TelerikTextArea Id="notesBusiness" AutoSize="true" @bind-Value="Customer.Business.Notes"></TelerikTextArea>
                                    }
                                </div>
                            </TabStripTab>
                        </TelerikTabStrip>
                    </Template>
                </FormItem>
            </FormItems>

            <FormButtons>
                <TelerikButton ButtonType="ButtonType.Submit" ThemeColor="primary" OnClick="Submit" Enabled="IsValid">Save</TelerikButton>
                <TelerikButton ButtonType="ButtonType.Button" ThemeColor="secondary" OnClick="HandleDiscard">Discard</TelerikButton>
            </FormButtons>
        </TelerikForm>
    </WindowContent>
</TelerikWindow>

<style>
    #notes {
        min-height: 432px;
    }

    .contact-info {
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        grid-gap: 16px;
        align-content: stretch;
    }

    .phones-emails {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .phone-email-card {
        max-height: 292px;
    }

    @@media (max-width:1200px) {
        .contact-info {
            grid-template-columns: 1fr;
        }

        .phones-emails {
            display: grid;
            grid-gap: 16px;
        }
    }

</style>
