<div>
    <hr class="m-btn-group-divider">
    <div>
        @if (ShowDone)
        {
            <button class="btn btn-primary m-button" @onclick="OnDone"><i class="fas fa-check"></i> Done</button>
        }
        @if (ShowEdit)
        {
            <button class="btn m-button m-edit-btn" @onclick="OnEdit" disabled="@(CanEdit ? false : true)"><i class="fas fa-edit"></i> Edit</button>
        }
        @if (ShowNew)
        {
            <button class="btn m-button m-add-btn" @onclick="OnNew" disabled="@(CanAdd ? false : true)"><i class="fas fa-plus"></i> New</button>
        }
        @if (ShowDelete)
        {
            <button class="btn m-button m-delete-btn" @onclick="OnDelete" disabled="@(CanDelete ? false : true)"><i class="fas fa-trash"></i> Delete</button>
        }
        @if (ShowPrint)
        {
            <button class="btn m-button m-generic-btn" @onclick="OnPrint" disabled="@(CanPrint ? false : true)"><i class="fas fa-print"></i> Print</button>
        }
        else if (ShowPrintOptions)
        {
            <TelerikSplitButton Id="print-options-btn" Class="m-print-btn" Icon="@("fas fa-print")" OnClick="@OnPrintDirectly" Enabled="@(CanPrint ? true : false)">
                <SplitButtonContent>Print</SplitButtonContent>
                <SplitButtonItems>
                    <SplitButtonItem Icon="@("fas fa-print")" OnClick="@OnPrintDirectly">Print</SplitButtonItem>
                    <SplitButtonItem Icon="@("fas fa-eye")" OnClick="@OnPreview">Preview</SplitButtonItem>
                    <SplitButtonItem Icon="@("fas fa-envelope")" OnClick="@OnEmail">Email</SplitButtonItem>
                    <SplitButtonItem Icon="@("fas fa-download")" OnClick="@OnExport">Export</SplitButtonItem>
                </SplitButtonItems>
            </TelerikSplitButton>
        }
    </div>
</div>

<style>

    #print-options-btn {
        background-color: var(--btn-bg-color);
        color: white;
        margin-left: -6px;
        border-radius: 0.25rem;
    }

        #print-options-btn:hover {
            background-color: darkgray;
            color: black;
        }


        #print-options-btn:disabled {
            background-color: var(--btn-bg-disabled-color);
            color: var(--btn-disabled-color);
        }

</style>
