@using Syncfusion.Blazor.Navigations

@*<TelerikMediaQuery Media="@SmallBreakpoint" OnChange="@SmallMediaQueryChange"></TelerikMediaQuery>
<TelerikMediaQuery Media="@MediumBreakpoint" OnChange="@MediumMediaQueryChange"></TelerikMediaQuery>*@
<TelerikMediaQuery Media="@GetMenuBreakpoint()" OnChange="@MediaQueryChange"></TelerikMediaQuery>

<div class="sb-header">
    <div class="sb-header-left sb-left sb-table" id="moduleName">
        <div class="sb-header-item sb-table-cell m-brand" id="sb-header-text">
            <span class="material-icons module-icon">@IconName</span>
            <span>@ModuleName</span>
        </div>
    </div>
    @if (CurrentWindowSize == WindowSize.Large)
    {
        <div class="sb-header-right sb-left sb-table">
            <div class="sb-table-cell m-hover-white" id="menu-items">
                <div>
                    <TelerikMenu Data="@MenuItems"
                             @ref="HorizontalMenuObj"
                             ItemsField="@nameof(MenuItem.Items)"
                             TextField="@nameof(MenuItem.Text)"
                             UrlField="@nameof(MenuItem.Url)"
                             CloseOnClick="true"
                             OnClick="@((MenuItem item) => OnClickHandler(item))">
                    </TelerikMenu>
                </div>
            </div>
        </div>
    }
    else
    {
        <SfMenu Items="@MenuItems" HamburgerMode="true" ShowItemOnClick="true" @ref="MenuObj">
            <MenuEvents ItemSelected="OnOtherMenuItemClicked" TValue="MenuItem"></MenuEvents>
        </SfMenu>
    }
</div>

@*<script suppress-error="BL9992">
    function closeMenu() {
        setTimeout(function() {
            var mouseLeaveEvent = new Event('mouseleave');
            var rootNodes = document.querySelectorAll("li.k-menu-item");
            rootNodes.forEach(function(elem) { elem.dispatchEvent(mouseLeaveEvent); })
        }, 30);
    }
</script>*@

<style>
    .sb-header {
        height: 50px;
        background: var(--bg-color-medium);
        box-shadow: 0 8px 11px -6px rgb(0 0 0 / 12%);
        z-index: 20;
        overflow: visible;
    }

    .material-icons.module-icon {
        font-size: 24px;
        height: unset;
        vertical-align: middle;
    }

    .sb-header div, .sb-header span {
        outline: none;
        outline-color: initial;
        outline-style: none;
        outline-width: initial;
    }

    .sb-header-left {
        height: 100%;
    }

    .sb-header-right {
        max-height: 50px !important;
    }

    .sb-table {
        display: table;
    }

    .sb-left {
        float: left;
    }

    .sb-table-cell {
        display: table-cell;
        vertical-align: middle;
        max-height: 50px !important;
    }

    .sb-right {
        float: right;
    }

    #sb-header-text {
        padding-left: 22px;
        font-size: 1.25rem;
        color: white;
        font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif";
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .menu-control {
        margin: 45px auto 0;
        text-align: center;
        opacity: 100%;
    }

    .m-brand {
        padding-left: 20px;
        padding-right: 20px;
    }

    .m-hover-white:hover {
        color: white !important;
    }

    .k-reset.k-header.k-menu.telerik-blazor.k-widget.k-menu-horizontal-menu {
        background-color: var(--bg-color-medium);
        height: 50px;
    }

    .k-menu:not(.k-context-menu) {
        background-color: var(--bg-color-medium);
        height: 50px;
        align-content: center;
    }

        .k-menu:not(.k-context-menu) > .k-item {
            color: white;
        }

    .k-icon.k-i-arrow-60-down {
        font-family: "WebComponentsIcons" !important;
        height: unset !important;
        margin-right: 8px !important;
    }

    .k-menu-item {
        flex-flow: unset;
    }

    .k-menu-popup .k-menu-item:hover {
        background-color: lightgray;
    }

    .drawer-sm.k-drawer-expanded .k-drawer.telerik-blazor {
        width: 100%;
    }

    .drawer-sm.k-drawer-expanded .k-drawer-wrapper,
    .drawer-sm.k-drawer-expanded .k-drawer-items {
        width: 100% !important;
    }

    .drawer-sm.k-drawer-expanded .k-drawer {
        max-width: 100vh;
    }

    .drawer-sm.k-drawer-expanded .k-overlay {
        display: none;
    }

    .k-drawer-container {
        position: relative;
        width: 100%;
        height: 95%;
        min-height: 300px;
    }

        .k-drawer-container.k-drawer-overlay .k-drawer {
            position: absolute;
        }

    .k-drawer-item.k-level-1 {
        padding-inline-start: 60px;
    }

    .k-overlay {
        position: absolute;
    }

    .e-menu-container, .e-menu-header, .e-menu-container.e-hamburger, .e-menu-container .e-menu-header {
        height: 50px;
        line-height: 50px;
    }

        .e-menu-container :not(.e-hamburger) {
            height: unset;
        }

    .e-lib.e-menu.e-control.e-menu-parent {
        background-color: lightgray;
    }

    .e-menu-container .e-menu .e-menu-item.e-focused {
        background-color: #f2f4f6;
    }

    .e-menu-container.e-hamburger .e-menu-header,
    .e-menu-container.e-hamburger .e-menu-header .e-menu-icon {
        color: white !important;
    }

    .e-menu-container .e-menu .e-menu-item.e-focused {
        color: black;
        font-weight: bold;
    }

        .e-menu-container .e-menu .e-menu-item .e-caret,
        .e-menu-container .e-menu .e-menu-item.e-selected .e-caret,
        .e-menu-container .e-menu .e-menu-item.e-selected,
        a.e-menu-text.e-menu-url,
        container .e-menu .e-menu-item e-menu-url,
        .e-menu-container .e-menu .e-menu-item.e-focused .e-caret {
            color: black !important;
        }

    .e-menu-container.e-hamburger ul.e-menu {
        border-bottom: 1px solid lightgray !important;
    }

    .k-in .k-menu-link {
        border: none !important;
    }

    .k-menu-link {
        border-color: var(--bg-color-medium) !important;
        outline-color: var(--bg-color-medium) !important;
        gap: 0;
        padding-inline: 0.7rem;
    }
</style>
