@using Telerik.FontIcons
<div hidden="@(Business?.Address is not null)">
    <TelerikButton ButtonType="ButtonType.Button"
                   Icon="@FontIcon.Plus"
                   Size="@ThemeConstants.Button.Size.Small"
                   Rounded="@ThemeConstants.Button.Rounded.Full"
                   Class="add-item"
                   OnClick="AddAddress"
                   Id="addAddress" />
    <label for="addAddress"
           class="k-label"
           title="Add address">
        add Address
    </label>
</div>

@if (Business?.Address is not null)
{
    <div class="form-group">
        <div>
            <TelerikButton ButtonType="ButtonType.Button"
                       Icon="@FontIcon.Plus"
                       Size="@ThemeConstants.Button.Size.Small"
                       Rounded="@ThemeConstants.Button.Rounded.Full"
                       Class="remove-item"
                       OnClick="RemoveAddress"
                       Id="removeAddress"
                       title="Remove address" />
            <span>
                <label for="removeAddress"
                   class="k-label"
                   title="Remove address">
                    Address
                </label>
                <span @onclick="EditAddress">
                    <AddressEditor Address="@Business?.Address"
                               Enabled="FormMode == FormMode.Edit || FormMode == FormMode.Add"
                               FormMode="FormMode" />
                </span>
            </span>
        </div>
    </div>
}

@code {
    [Parameter] public BusinessToWrite Business { get; set; }
    public FormMode FormMode { get; set; } = FormMode.Unknown;

    private void AddAddress()
    {
        Business.Address = new();
        FormMode = FormMode.Add;
    }

    public void EditAddress()
    {
        FormMode = FormMode.Edit;
    }

    private void RemoveAddress()
    {
        Business.Address = null;
    }
}
