<div class="m-serialNumbers-tab">
    <div>
        <Card Title="Serial Numbers">
            <Content>
                @if (SerialNumberList == null)
                {
                    <p><em>Loading...</em></p>
                }

                @if (SerialNumberList != null)
                {
                    <TelerikGrid Data="SerialNumberList"
                                 OnRowClick="@OnRowSelected"
                                 OnRowDoubleClick="@(() => EditDialogVisible = true)"
                                 SelectionMode="GridSelectionMode.Single"
                                 SelectedItemsChanged="@((IEnumerable<SerialNumberListItem> serialNumberList) => OnSelect(serialNumberList))"
                                 SelectedItems="@SelectedSerialNumbers">
                        <GridColumns>
                            <GridColumn Width="32px">
                                <Template>
                                    @{
                                        var sn = context as SerialNumberListItem;
                                        if (sn.IsComplete())
                                        {
                                            <div class="success-icon">
                                                <TelerikIcon Icon="check" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="danger-icon">
                                                <TelerikIcon Icon="exclamation-circle" />
                                            </div>
                                        }
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Width="25%" Field="@nameof(SerialNumberListItem.PartNumber)" Title="Part Number"></GridColumn>
                            <GridColumn Width="40%" Field="@nameof(SerialNumberListItem.Description)" Title="Description"></GridColumn>
                            <GridColumn Width="35%" Field="@nameof(SerialNumberListItem.SerialNum)" Title="Serial Number"></GridColumn>
                        </GridColumns>
                    </TelerikGrid>

                    <div>
                        <hr class="m-btn-group-divider">

                        <div>
                            <button class="btn m-button m-edit-btn" @onclick="@(() => EditDialogVisible = true)" disabled="@(CanEdit ? false : true)"><i class="fas fa-edit"></i> Edit</button>
                            <button class="btn m-button m-generic-btn" @onclick="OnCopy" disabled="@(CanCopy ? false : true)"><i class="fas fa-copy"></i> Copy</button>
                        </div>
                    </div>
                }
            </Content>
        </Card>
    </div>

    @if (EditDialogVisible && SelectedSerialNumber != null)
    {
        <RepairOrderSerialNumberEditor SerialNumber="@SelectedSerialNumber"
                                       DialogVisible="@EditDialogVisible"
                                       OnSave="Save"
                                       OnCancel="@(() => EditDialogVisible = false)" />
    }
</div>

<style>
    .success-icon .k-icon {
        color: green;
    }

    .danger-icon .k-icon {
        color: red;
    }

    .m-serialNumbers-tab {
        display: grid;
    }
</style>