<div class="m-purchases-tab">
    <div>
        <Card Title="Payments">
            <Content>
                @if (Purchases == null)
                {
                    <p><em>Loading...</em></p>
                }

                @if (Purchases != null)
                {
                    <TelerikGrid Data="Purchases"
                                 OnRowClick="@OnRowSelected"
                                 OnRowDoubleClick="@OnEdit"
                                 SelectionMode="GridSelectionMode.Single"
                                 SelectedItemsChanged="@((IEnumerable<PurchaseListItem> purchaseList) => OnSelect(purchaseList))"
                                 SelectedItems="@SelectedPurchases"
                                 @ref="@PurchasesGrid"
                                 Class="">
                        <GridColumns>
                            <GridColumn Width="32px">
                                <Template>
                                    @{
                                        var purchase = context as PurchaseListItem;
                                        if (purchase.IsComplete())
                                        {
                                            <i class="fas fa-check m-green-check"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-exclamation-circle m-red-x"></i>
                                        }
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Width="20%" Field="@nameof(PurchaseListItem.PartNumber)" Title="Part Number"></GridColumn>
                            <GridColumn Width="30%" Field="@nameof(PurchaseListItem.Description)" Title="Description"></GridColumn>
                            <GridColumn Width="30%" Field="@nameof(PurchaseListItem.VendorName)" Title="Vendor"></GridColumn>
                            <GridColumn Width="10%" Field="@nameof(PurchaseListItem.Quantity)" Title="Quantity" TextAlign="ColumnTextAlign.Right"></GridColumn>
                            <GridColumn Width="10%" Field="@nameof(PurchaseListItem.VendorCost)" Title="Cost" DisplayFormat="{0:C}" TextAlign="ColumnTextAlign.Right"></GridColumn>
                        </GridColumns>
                    </TelerikGrid>

                    <div>
                        <hr class="m-btn-group-divider">

                        <div>
                            <button class="btn m-button m-edit-btn" @onclick="OnEdit" disabled="@(CanEdit ? false : true)"><i class="fas fa-edit"></i> Edit</button>
                            <button class="btn m-button m-generic-btn" @onclick="OnCopy" disabled="@(CanCopy ? false : true)"><i class="fas fa-copy"></i> Copy</button>
                            @*<button class="btn m-button" id="clear" @onclick="OnClear" disabled="@(CanClear ? false : true)"><i class="fas fa-eraser"></i> Clear</button>*@
                        </div>
                    </div>
                }
            </Content>
        </Card>
    </div>

    @if (SelectedPurchase != null && EditDialogVisible)
    {
        <RepairOrderPurchaseEditor Purchase="@SelectedPurchase" DialogVisible="@EditDialogVisible" Mode="@PurchaseFormMode" OnSave="@OnSaveEdit" OnCancel="@OnCancelEdit" />
    }

</div>

<style>
    .m-purchases-tab {
        display: grid;
    }

    .m-green-check {
        color: green;
    }

    .m-red-x {
        color: red;
    }

    .m-icon-checked:before {
        content: '\e7ab';
        color: limegreen;
    }
</style>