<div class="m-warranties-tab">
    <div>
        <Card Title="Warranties">
            <Content>
                @if (WarrantyList == null)
                {
                    <p><em>Loading...</em></p>
                }

                @if (WarrantyList != null)
                {
                    <TelerikGrid Data="WarrantyList"
                                 OnRowClick="OnRowSelected"
                                 OnRowDoubleClick="@(() => EditDialogVisible = true)"
                                 SelectionMode="GridSelectionMode.Single">
                        <GridColumns>
                            <GridColumn Width="32px">
                                <Template>
                                    @{
                                        var warranty = context as WarrantyListItem;
                                        if (warranty.IsComplete())
                                        {
                                            <div class="success-icon">
                                                <TelerikIcon Icon="check" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="danger-icon">
                                                <TelerikIcon Icon="exclamation-circle" />
                                            </div>
                                        }
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Width="20%" Field="@nameof(WarrantyListItem.PartNumber)" Title="Part Number"></GridColumn>
                            <GridColumn Width="25%" Field="@nameof(WarrantyListItem.Description)" Title="Description"></GridColumn>
                            <GridColumn Width="10%" Field="@nameof(WarrantyListItem.Quantity)" Title="Quantity" TextAlign="ColumnTextAlign.Right"></GridColumn>
                            <GridColumn Width="20%" Field="@nameof(WarrantyListItem.Type)" Title="Type">
                                <Template>
                                    @(Enum.GetName(typeof(WarrantyType), (context as WarrantyListItem).Type))
                                </Template>
                            </GridColumn>

                            <GridColumn Width="25%" Field="@nameof(WarrantyListItem.WarrantyNumber)" Title="Warranty Number"></GridColumn>
                        </GridColumns>
                    </TelerikGrid>

                    <div>
                        <hr class="m-btn-group-divider">
                        <div>
                            <button class="btn m-button m-edit-btn" @onclick="@(() => EditDialogVisible = true)" disabled="@(CanEdit ? false : true)"><i class="fas fa-edit"></i> Edit</button>
                            <button class="btn m-button m-generic-btn" @onclick="OnCopy" disabled="@(CanCopy ? false : true)"><i class="fas fa-copy"></i> Copy</button>
                        </div>
                    </div>

                }
            </Content>
        </Card>
    </div>
</div>

<style>
    .m-warranties-tab {
        display: grid;
    }

    .m-green-check {
        color: green;
    }

    .m-red-x {
        color: red;
    }

    .m-icon-checked:before {
        content: '\e7ab';
        color: limegreen;
    }
</style>