@using CustomerVehicleManagement.Shared.Models.RepairOrders.Payments

<div class="m-payments-tab">
    <div>
        <Card Title="Payments">
            <Content>
                @if (Payments == null)
                {
                    <p><em>Loading...</em></p>
                }

                @if (Payments != null)
                {
                    <TelerikGrid Data="Payments"
                                 OnRowClick="@OnRowSelected"
                                 OnRowDoubleClick="@OnEdit"
                                 SelectionMode="GridSelectionMode.Single"
                                 SelectedItemsChanged="@((IEnumerable<RepairOrderPaymentToWrite> paymentList) => OnSelect(paymentList))"
                                 SelectedItems="@SelectedPayments"
                                 Class="">
                        <GridColumns>
                            <GridColumn Width="75%"
                                        Field="@nameof(RepairOrderPaymentToWrite.PaymentMethod)"
                                        Title="Payment Method">
                                @*<Template>
                                        convert method to method name
                                    </Template>*@
                            </GridColumn>
                            <GridColumn Width="25%"
                                        Field="@nameof(RepairOrderPaymentToWrite.Amount)"
                                        Title="Amount"
                                        TextAlign="ColumnTextAlign.Right"
                                        DisplayFormat="{0:C}">
                            </GridColumn>
                        </GridColumns>
                    </TelerikGrid>

                    <EditNewDeleteButtons OnEdit="@OnEdit" OnNew="@OnAdd" OnDelete="@OnDelete" CanEdit="@CanEdit" CanDelete="@CanDelete" />
                }
            </Content>
        </Card>
    </div>

    @if (PaymentToModify != null)
    {
        <RepairOrderPaymentEdit Payment="@PaymentToModify" DialogVisible="@EditDialogVisible" Mode="@PaymentFormMode" OnSave="@OnSaveEdit" OnCancel="@OnCancelEdit" />
    }

</div>

<style>
    .m-payments-tab {
        display: grid;
    }
</style>