
<EditForm Model="Item">
    <TelerikWindow Visible="DialogVisible"
                   Modal="true"
                   Class="popupWindowClass">
        <WindowTitle>
            @Title
        </WindowTitle>
        <WindowContent>
            @*<div class="container">*@
            <div>
                <label class="form-control-label">Category</label>
                <div class="m-form-control-group" for="category">
                    <TelerikDropDownList @bind-Value="@Item.ManufacturerId"
                                         Width="100%"
                                         Data="@Item.ManufacturerId"
                                         TextField="@Item.ManufacturerId"
                                         ValueField="@Item.ManufacturerId"
                                         Id="category">
                    </TelerikDropDownList>
                    @*<TelerikTextBox @bind-Value="@Item.ManufacturerId"
                                        Width="100%"
                                        Id="category">
                        </TelerikTextBox>*@
                </div>

                <label class="form-control-label" for="partNumber">Part Number</label>
                <div class="m-form-control-group">
                    <TelerikTextBox @bind-Value="@Item.PartNumber"
                                           Width="100%"
                                           Id="partNumber">
                    </TelerikTextBox>
                </div>
            </div>
            <hr id="divider">
            <div>
                <TelerikButton OnClick="OnSave"
                               ButtonType="ButtonType.Button"
                               Primary="true"
                               Class="dialog-button">
                    <i class="fas fa-check"></i> OK
                </TelerikButton>
                <TelerikButton OnClick="OnCancel"
                               ButtonType="ButtonType.Button"
                               Class="dialog-button">
                    <i class="fas fa-times"></i> Cancel
                </TelerikButton>
            </div>
        </WindowContent>
    </TelerikWindow>

</EditForm>

<style>
    #divider {
        margin-top: 1em;
        border-color: darkgrey;
    }

    .dialog-button {
        margin-right: 0.7rem;
    }

    .popupWindowClass .k-dialog-titlebar.k-header.k-window-titlebar { /* targets the entire titlebar */
        background: #274c77;
        color: white;
    }

    .m-form-control-group {
        margin-bottom: 1rem;
    }
</style>