@using CustomerVehicleManagement.Shared.Models.RepairOrders.Services
@using CustomerVehicleManagement.Shared.Models.RepairOrders.Items

<TelerikGrid Data="Services"
             SelectionMode="GridSelectionMode.Single"
             @ref="@ServicesGrid">
    <DetailTemplate>
        @{
            var service = context as RepairOrderServiceToWrite;
            <div class="m-job-items-top-spacer"></div>
            @*<TelerikGrid Data="service.Items"
                SelectionMode="GridSelectionMode.Single"
                OnRowClick="@OnItemRowSelected"
                OnRowDoubleClick="@OnEditItem"
                SelectedItemsChanged="@((IEnumerable<RepairOrderItemToWrite> itemList) => OnSelect(itemList))"
                SelectedItems="@SelectedItems">*@
            <TelerikGrid Data="service.Items"
                         EditMode="GridEditMode.Popup"
                         OnRowDoubleClick="@OnItemRowDoubleClickHandler"
                         SelectionMode="GridSelectionMode.Single">
                <GridColumns>
                    <GridColumn Width="20%"
                                Field="@nameof(RepairOrderItemToWrite.PartNumber)"
                                Title="Part Number">
                        <FooterTemplate Context="Service">
                            <div class="m-job-total-row">Job Total</div>
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Width="30%"
                                Field="@nameof(RepairOrderItemToWrite.Description)"
                                Title="Description">
                    </GridColumn>
                    <GridColumn Width="10%"
                                TextAlign="Telerik.Blazor.ColumnTextAlign.Right"
                                Field="@nameof(RepairOrderItemToWrite.QuantitySold)"
                                Title="Qty">
                    </GridColumn>
                    <GridColumn Width="10%"
                                TextAlign="Telerik.Blazor.ColumnTextAlign.Right"
                                Field="@nameof(RepairOrderItemToWrite.SellingPrice)"
                                DisplayFormat="{0:C}"
                                Title="Each">
                        <FooterTemplate Context="Service">
                            <div class="m-job-total-row m-job-total-value">
                                @((context as RepairOrderServiceToWrite).PartsTotal.ToString("C"))
                            </div>
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Width="10%"
                                TextAlign="Telerik.Blazor.ColumnTextAlign.Right"
                                Field="@nameof(RepairOrderItemToWrite.LaborEach)"
                                DisplayFormat="{0:C}"
                                Title="Labor">
                        <FooterTemplate Context="Service">
                            <div class="m-job-total-row m-job-total-value">
                                @((context as RepairOrderServiceToWrite).LaborTotal.ToString("C"))
                            </div>
                        </FooterTemplate>
                    </GridColumn>

                    @*<GridColumn TextAlign="Telerik.Blazor.ColumnTextAlign.Right" Width="10%" Field="@nameof(RepairOrderItemToWrite.HazMat)" Title="HazMat">
                            <FooterTemplate Context="Service">
                                <div class="m-job-total-row m-job-total-value">
                                    @((context as RepairOrderServiceToWrite).HazMat.ToString("C"))
                                </div>
                            </FooterTemplate>
                        </GridColumn>*@
                    @*<GridColumn TextAlign="Telerik.Blazor.ColumnTextAlign.Right" Width="10%" Field="@nameof(RepairOrderItemToWrite.Discount)" Title="Discount">
                            <FooterTemplate Context="Service">
                                <div class="m-job-total-row m-job-total-value">
                                    @((context as Service).Discount.ToString("C"))
                                </div>
                            </FooterTemplate>
                        </GridColumn>*@
                    <GridColumn Width="10%"
                                TextAlign="Telerik.Blazor.ColumnTextAlign.Right"
                                Field="@nameof(RepairOrderItemToWrite.Total)"
                                DisplayFormat="{0:C}"
                                Title="Total">
                        <FooterTemplate Context="Service">
                            <div class="m-job-total-row m-job-total-value">
                                @((context as RepairOrderServiceToWrite).Total.ToString("C"))
                            </div>
                        </FooterTemplate>
                    </GridColumn>
                    @*<GridColumn Width="10%">
                            <Template Context="Service">
                                <div>
                                    <button class="btn m-inline-button m-edit-btn" @onclick="@OnEditItemClick"><i class="fas fa-edit"></i></button>
                                    <button class="btn m-inline-button m-delete-btn"><i class="fas fa-trash"></i></button>
                                    <button class="btn m-inline-button m-generic-btn"><i class="fas fa-bars"></i></button>
                                </div>
                            </Template>
                        </GridColumn>*@
                    <GridCommandColumn Width="10%"
                                       Context="RepairOrderServiceToWrite">
                        <GridCommandButton Command="_Edit"
                                           IconClass="fas fa-edit"
                                           Size="sm"
                                           Class="m-inline-button m-edit-btn"
                                           OnClick="@OnEditItemClick">
                        </GridCommandButton>
                        <GridCommandButton Command="_Delete"
                                           IconClass="fas fa-trash"
                                           Size="sm"
                                           Class="m-inline-button m-delete-btn"
                                           OnClick="@OnDeleteItemClick">
                        </GridCommandButton>
                        <GridCommandButton Command="_ItemMenu"
                                           IconClass="fas fa-bars"
                                           Size="sm"
                                           Class="m-inline-button m-generic-btn">
                        </GridCommandButton>
                    </GridCommandColumn>
                </GridColumns>
            </TelerikGrid>

            <div class="m-job-items-bottom-spacer"></div>
        }
    </DetailTemplate>

    <GridColumns>
        <GridColumn Width="100%"
                    Field="@nameof(RepairOrderServiceToWrite.ServiceName)"
                    Title="Service">
            <Template>
                <div class="m-job-row-height">
                    <ul class="m-no-margin-bottom m-job-row m-job-detail">
                        <li class="m-job-row-float-left m-job-row m-job-detail">
                            <span>
                                <b>@((context as RepairOrderServiceToWrite).ServiceName)</b>
                            </span>
                        </li>
                        <li class="m-job-row-float-right m-job-row m-job-detail">
                            <div class="m-job-row-detail m-job-total">
                                <b>Job Total: @((context as RepairOrderServiceToWrite).Total.ToString("C"))</b>
                            </div>
                        </li>
                        <li class="m-job-row-float-right m-job-row m-job-detail">
                            <button class="btn btn-outline-secondary btn-sm" id="techGroup">
                                <span class="btn btn-secondary btn-sm" id="techButton" type="button">Techs</span>
                                <span class="btn btn-secondary btn-sm" id="techNumbers">101, 241</span>
                            </button>
                        </li>
                        @*<li class="m-job-row-float-right m-job-row m-job-detail">
                                <button class="btn btn-outline-secondary btn-sm">Techs: 101, 241</button>
                            </li>*@
                    </ul>
                </div>
            </Template>
        </GridColumn>
        @*<Telerik.Blazor.Components.GridColumn Width="16%" Field="@nameof(Service.Techs)" Title="Techs"></Telerik.Blazor.Components.GridColumn>
            <Telerik.Blazor.Components.GridColumn Width="10%" Field="@nameof(Service.Total)" Title="Total"></Telerik.Blazor.Components.GridColumn>
            <Telerik.Blazor.Components.GridColumn Width="2.75rem" Field="@nameof(Service.Techs)" Title="PM"></Telerik.Blazor.Components.GridColumn>*@
    </GridColumns>
</TelerikGrid>

<div>
    <hr class="m-btn-group-divider">

    <div>
        <button class="btn m-button m-add-btn" @onclick="@AddItem" disabled="@(CanAddPart ? false : true)"><i class="fas fa-plus"></i> Add Part</button>
        @*<button class="btn m-button m-add-btn" @onclick="OnAddLabor" disabled="@(CanAddLabor ? false : true)"><i class="fas fa-plus"></i> Add Labor</button>*@
    </div>
</div>

@if (ItemToModify != null)
{
    <RepairOrderItemEdit Item="@ItemToModify" DialogVisible="@EditItemDialogVisible" Mode="@ItemFormMode" OnSave="@OnSaveItemEdit" OnCancel="@OnCancelItemEdit" />
}

<style>
    table tbody td {
        border-left: 1px solid #dee2e6 !important;
        padding: 0 .25rem 0 .25rem !important;
    }

        table tbody td:last-of-type {
            border-right: 1px solid #dee2e6 !important;
        }

        /*    .k-grid-header {
        background-color: #6096ba;
        color: white;
    }*/

        table tbody td .m-job-total-row {
            padding: 0 !important;
        }

    .k-grid-footer {
        font-weight: 500;
        background-color: darkgrey;
    }

    .m-job-total-value {
        width: 100%;
        text-align: right;
    }

    .m-job-total {
        margin-left: 2rem;
    }

    .m-job-row {
        /*        display: inline-flex;
        width: 100%;*/
        list-style: none;
        height: 100%;
    }

    .m-job-row-height {
        min-height: 2.5rem;
        padding-top: .475rem;
    }

    /*    .m-job-detail {
        min-height: 2.25rem;
    }*/

    .m-job-row-float-left {
        float: left;
    }

    .m-job-row-float-right {
        float: right;
    }

    .k-icon-button.k-button-sm > .k-button-icon {
        min-width: 0;
        min-height: 0;
    }

    .m-inline-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 22px;
        margin-right: 2px;
        font-size: .85rem;
        color: var(--btn-color);
        border-radius: 0.285rem;
        padding: 2px;
    }

    /*    .btn.btn-outline-secondary.btn-sm {
        color: black;
    }

        .btn.btn-outline-secondary.btn-sm:hover {
            color: white;
        }*/


    /*    .m-job-row-detail {
            display:
        }
    */

    #techGroup {
        padding: 0;
        margin-top: -0.179rem;
        background-color: darkgray;
    }

        #techGroup:hover, #techGroup:hover > * {
            background-color: var(--edit-btn-bg-color); /*#1b6ec2;*/
            color: black;
        }

    #techButton {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-width: 0;
        background-color: darkgray;
    }

    #techNumbers {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-width: 0;
        background-color: white;
        color: black;
    }

    .m-job-items-top-spacer {
        min-height: 1rem;
    }

    .m-job-items-bottom-spacer {
        min-height: 1.25rem;
    }

    .k-master-row .k-state-selected {
        background-color: lightgray !important;
    }
</style>