<div class="m-warranties-tab">
    <div>
        <Card Title="Warranties">
            <Content>
                @if (WarrantyList == null)
                {
                    <p><em>Loading...</em></p>
                }

                @if (WarrantyList != null)
                {
                    <TelerikGrid Data="WarrantyList"
                             OnRowClick="OnRowSelected"
                             OnRowDoubleClick="@(() => DialogVisible = true)"
                             SelectionMode="GridSelectionMode.Single">
                        <GridColumns>
                            <GridColumn Width="32px">
                                <Template>
                                    @{
                                    var warranty = context as WarrantyListItem;
                                    if (warranty.IsComplete())
                                    {
                                        <span class="success-icon">
                                            <TelerikFontIcon Icon="@FontIcon.Check" />
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="danger-icon">
                                            <TelerikFontIcon Icon="@FontIcon.ExclamationCircle" />
                                        </span>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="20%" Field="@nameof(WarrantyListItem.PartNumber)" Title="Part Number"></GridColumn>
                        <GridColumn Width="25%" Field="@nameof(WarrantyListItem.Description)" Title="Description"></GridColumn>
                        <GridColumn Width="10%" Field="@nameof(WarrantyListItem.Quantity)" Title="Quantity" TextAlign="ColumnTextAlign.Right"></GridColumn>
                        <GridColumn Width="20%" Field="@nameof(WarrantyListItem.Type)" Title="Type">
                            <Template>
                                @(Enum.GetName(typeof(WarrantyType), (context as WarrantyListItem).Type))
                            </Template>
                        </GridColumn>

                        <GridColumn Width="25%" Field="@nameof(WarrantyListItem.WarrantyNumber)" Title="Warranty Number"></GridColumn>
                    </GridColumns>
                </TelerikGrid>

                    <div>
                        <hr class="m-btn-group-divider">
                        <div>
                            <button class="btn m-button m-edit-btn" @onclick="@(() => DialogVisible = true)" disabled="@(CanEdit ? false : true)"><i class="fas fa-edit"></i> Edit</button>
                            <button class="btn m-button m-generic-btn" @onclick="OnCopy" disabled="@(CanCopy ? false : true)"><i class="fas fa-copy"></i> Copy</button>
                        </div>
                    </div>

                }
            </Content>
        </Card>
    </div>

    @if (DialogVisible && Warranty != null)
    {
        <RepairOrderWarrantyEditor Warranty="Warranty"
                               DialogVisible="DialogVisible"
                               OnSave="Save"
                               OnCancel="@(() => DialogVisible = false)" />
    }

</div>

<style>
    .m-warranties-tab {
        display: grid;
    }

    .success-icon .k-icon {
        color: green;
    }

    .danger-icon .k-icon {
        color: red;
    }
</style>