@using CustomerVehicleManagement.Shared.Models.RepairOrders

<div class="cust-veh-cards">
    <div>
        <Card Title="Customer">
            <Content>
                @*<RepairOrderCustomer CustomerName="@RepairOrder.CustomerName" Customer="@RepairOrder.Customer" />*@
                @*<RepairOrderCustomer CustomerName="@RepairOrder.CustomerName" />*@
                <RepairOrderCustomer RepairOrder="@RepairOrder" />
            </Content>
        </Card>
    </div>
    <div>
        <Card Title="Vehicle">
            <Content>
                <RepairOrderVehicle RepairOrder="@RepairOrder"/>
            </Content>
        </Card>
    </div>
</div>

<style>
    .cust-veh-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    @@media (max-width:768px) {
        .cust-veh-cards {
            grid-template-columns: 1fr;
        }
    }
</style>