<div class="m-serialNumbers-tab">
    <div>
        <Card Title="Serial Numbers">
            <Content>
                @if (SerialNumberList == null)
                {
                    <p><em>Loading...</em></p>
                }

                @if (SerialNumberList != null)
                {
                    <TelerikGrid Data="SerialNumberList"
                                 OnRowClick="@OnRowSelected"
                                 OnRowDoubleClick="@OnEdit"
                                 SelectionMode="GridSelectionMode.Single"
                                 SelectedItemsChanged="@((IEnumerable<SerialNumberListItem> serialNumberList) => OnSelect(serialNumberList))"
                                 SelectedItems="@SelectedSerialNumbers"
                                 @ref="@SerialNumberGrid"
                                 Class="">
                        <GridColumns>
                            <GridColumn Width="32px">
                                <Template>
                                    @{
                                        var sn = context as SerialNumberListItem;
                                        if (sn.IsComplete())
                                        {
                                            <i class="fas fa-check m-green-check"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-exclamation-circle m-red-x"></i>
                                        }
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Width="25%" Field="@nameof(SerialNumberListItem.PartNumber)" Title="Part Number"></GridColumn>
                            <GridColumn Width="40%" Field="@nameof(SerialNumberListItem.Description)" Title="Description"></GridColumn>
                            <GridColumn Width="35%" Field="@nameof(SerialNumberListItem.SerialNum)" Title="Serial Number"></GridColumn>
                        </GridColumns>
                    </TelerikGrid>

                    <div>
                        <hr class="m-btn-group-divider">

                        <div>
                            <button class="btn m-button m-edit-btn" @onclick="OnEdit" disabled="@(CanEdit ? false : true)"><i class="fas fa-edit"></i> Edit</button>
                            <button class="btn m-button m-generic-btn" @onclick="OnCopy" disabled="@(CanCopy ? false : true)"><i class="fas fa-copy"></i> Copy</button>
                        </div>
                    </div>
                }
            </Content>
        </Card>
    </div>

    @if (EditDialogVisible && SelectedSerialNumber != null)
    {
        <RepairOrderSerialNumberEditor SerialNumber="@SerialNumberToModify" 
                                     DialogVisible="@EditDialogVisible" 
                                     OnSave="@OnSaveEdit" 
                                     OnCancel="@OnCancelEdit" />
    }
</div>

<style>
    .m-serialNumbers-tab {
        display: grid;
    }

    .m-green-check {
        color: green;
    }

    .m-red-x {
        color: red;
    }

    .m-icon-checked:before {
        content: '\e7ab';
        color: limegreen;
    }
</style>