@if (Customer?.Id > 0)
{
    <div class="pad-bottom">

        @if (Customer?.EntityType == EntityType.Person)
        {
            <i class='user icon' title="Person" aria-hidden="true"></i>
            <div class="ui label">@Customer.PersonName.LastFirstMiddle</div>
        }

        @if (Customer.EntityType == EntityType.Organization)
        {
            <i class='building outline icon' title="Organization" aria-hidden="true"></i>
            <div class="ui label">@Customer.Name</div>
        }
        <button class="ui icon button right floated mini"
                @onclick="Close"
                title="Close Details">
            <i class="window close icon"></i>
        </button>
    </div>

    <div class="ui form">
        <EditForm Model="@Customer">
            @if (Customer?.EntityType == EntityType.Person)
            {
                <div class="pad-bottom">
                    <label for="lastName">Last Name: </label>
                    <InputText id="lastName" @bind-Value="@Customer.LastName" placeholder="Enter last name"></InputText>
                </div>

                <div class="pad-bottom">
                    <label for="firstName">First Name: </label>
                    <InputText id="firstName" @bind-Value="@Customer.FirstName" placeholder="Enter first name"></InputText>
                </div>

                <div class="pad-bottom">
                    <label for="middleName">Middle Name: </label>
                    <InputText id="middleName" @bind-Value="@Customer.MiddleName" placeholder="Enter middle name"></InputText>
                </div>
            }

            @if (Customer.EntityType == EntityType.Organization)
            {
                <div class="pad-bottom">
                    <label for="name">Organization Name: </label>
                    <InputText id="name" @bind-Value="@Customer.Name" placeholder="Enter name"></InputText>
                </div>
            }

            <div class="pad-bottom">
                <label for="phone">Phone: </label>
                <InputText id="phone" @bind-Value="@Customer.Phone" placeholder="Enter phone"></InputText>
            </div>

            <div class="pad-bottom">
                <label for="address">Address: </label>
                <InputText id="address" @bind-Value="@Customer.AddressLine" placeholder="Enter last name"></InputText>
            </div>

            <div class="pad-bottom">
                <label for="city">City: </label>
                <InputText id="city" @bind-Value="@Customer.AddressCity" placeholder="Enter first name"></InputText>
            </div>

            <div class="pad-bottom">
                <label for="state">State: </label>
                <InputSelect id="state" class="form-control selectpicker col-sm-8" @bind-Value=Customer.AddressState>
                    <option>--select state--</option>
                    @foreach (var state in States)
                        {
                        <option value="@state.Abbreviation">@state.Name</option>
                        }
                </InputSelect>
            </div>

            <div class="pad-bottom">
                <label for="postalCode">Postal Code: </label>
                <InputText id="postalCode" @bind-Value="@Customer.AddressPostalCode" placeholder="Enter middle name"></InputText>
            </div>

            @if (Saved)
            {
                <div class="alert @StatusClass">@Message</div>
            }
        </EditForm>
    </div>
}