@page "/customers"

@if (CustomersList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex flex-row pt-5">
        <div class="d-flex flex-row">
            <table class="table table-responsive table-striped small">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Primary Phone</th>
                        <th>Type</th>
                        <th>Primary Email</th>
                        <th>Customer Type</th>
                        <th>Contact Name</th>
                        <th>Contact Phone</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in CustomersList)
                    {
                    <tr @onclick="@(e => SetSelectedId(customer.Id))">
                        <td>@customer.Name</td>
                        <td>@customer.AddressFull</td>
                        <td>@customer.PrimaryPhone</td>
                        <td>@customer.PrimaryPhoneType</td>
                        <td>@customer.PrimaryEmail</td>
                        <td>@customer.CustomerType</td>
                        <td>@customer.ContactName</td>
                        <td>@customer.ContactPrimaryPhone</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="flex-fill">
            @*<CustomerDetail @ref="CustomerDetail" Id="@SelectedId"></CustomerDetail>*@
        </div>
    </div>
    <div class="d-flex flex-row w-25">
        <button @onclick="AddCustomer" class="btn btn-primary">
            <span class="oi oi-plus" aria-hidden="true"></span>
        </button>
    </div>
    @*<AddCustomerDialog @ref="AddCustomerDialog" CloseEventCallback="@AddCustomerDialog_OnDialogClose"></AddCustomerDialog>*@
}