@using Menominee.Shared.Models.Contactable;
@if (Phones is null)
{
    <p><em>Loading...</em></p>
}

@if (Phones is not null)
{
    <TelerikGrid Data="Phones"
                 OnRowClick="@OnRowSelected"
                 OnRowDoubleClick="@OnEdit"
                 SelectedItems="@SelectedPhones"
                 SelectionMode="GridSelectionMode.Single"
                 Class="max-phone-grid-height"
                 Id="phoneGrid"
                 @ref="@Grid">
        <GridColumns>
            <GridColumn Width="70%"
                        Title="Number"
                        ShowColumnChooser="false"
                        Lockable="false"
                        ShowColumnMenu="false"
                        Sortable="false"
                        Filterable="false">
                <Template>
                    @{
                        @if ((context as PhoneToWrite).IsPrimary)
                        {
                            <span class="green-check pr-2">
                                <TelerikFontIcon Icon="@FontIcon.CheckCircle" />
                            </span>
                        }
                        @((context as PhoneToWrite).ToString())
                    }
                </Template>
            </GridColumn>
            <GridColumn Width="30%"
                        Field="@nameof(PhoneToWrite.PhoneType)"
                        Title="Type"
                        ShowColumnChooser="false"
                        Lockable="false"
                        ShowColumnMenu="false"
                        Sortable="false"
                        Filterable="false">
            </GridColumn>
        </GridColumns>
        <NoDataTemplate>
            No Phones Entered
        </NoDataTemplate>
    </TelerikGrid>

    @if (PhoneToModify is not null)
    {
        <PhoneEditor Phone="PhoneToModify"
                     FormMode="PhoneFormMode"
                     OnSave="OnSaveEdit"
                     OnCancel="OnCancelEdit" />
    }

    @if (CanEdit)
    {
        <EditNewDeleteIconButtons OnEdit="OnEdit"
                                  OnNew="OnNew"
                                  OnDelete="OnDelete"
                                  ShowDivider="false"
                                  CanAdd="CanEdit"
                                  CanEdit="CanEditPhone"
                                  CanDelete="CanDeletePhone" />
    }
    else
    {
        <EditNewDeleteIconButtons OnEdit="OnEdit"
                                  ShowDivider="false"
                                  CanEdit="CanEditPhone" />
    }
}

<style>
    .green-check {
        color: green;
    }

    .max-phone-grid-height {
        max-height: 163px !important;
    }

    #phoneGrid .k-grid-header {
        background-color: #f8f9fa;
    }

    #phoneGrid .k-table-thead {
        display: none;
    }
</style>