@if (Phones is null)
{
    <p><em>Loading...</em></p>
}

@if (Phones is not null)
{
    <TelerikGrid Data="Phones"
                 OnRowClick="@SelectRow"
                 OnRowDoubleClick="@OnEdit"
                 SelectionMode="GridSelectionMode.Single"
                 Class="max-phone-grid-height grid-no-scroll"
                 Id="phoneGrid"
                 @ref="@Grid">
        <GridColumns>
            <GridColumn Width="70%"
                        Title="Number"
                        ShowColumnChooser="false"
                        Lockable="false"
                        ShowColumnMenu="false"
                        Sortable="false"
                        Filterable="false">
                <Template>
                    @{
                        @if ((context as PhoneToWrite).IsPrimary)
                        {
                            <span class="green-check pr-2">
                                <TelerikFontIcon Icon="@FontIcon.CheckCircle" />
                            </span>
                        }
                        @((context as PhoneToWrite).ToString())
                    }
                </Template>
            </GridColumn>
            <GridColumn Width="30%"
                        Field="@nameof(PhoneToWrite.PhoneType)"
                        Title="Type"
                        ShowColumnChooser="false"
                        Lockable="false"
                        ShowColumnMenu="false"
                        Sortable="false"
                        Filterable="false">
            </GridColumn>
        </GridColumns>
        <NoDataTemplate>
            No Phones Entered
        </NoDataTemplate>
    </TelerikGrid>

    @if (SelectedPhone is not null && PhoneFormMode == FormMode.Edit || PhoneFormMode == FormMode.Add)
    {
        <PhoneEditor Phone="@SelectedPhone"
                     FormMode="@PhoneFormMode"
                     OnSave="@OnSaveEdit"
                     OnCancel="@OnCancelEdit" />
    }

    @if (CanAddEditDelete)
    {
        <EditNewDeleteIconButtons OnEdit="@OnEdit"
                                  OnNew="OnNew"
                                  OnDelete="@OnDelete"
                                  ShowDivider="false"
                                  CanAdd="CanAddEditDelete"
                                  CanEdit="CanAddEditDelete"
                                  CanDelete="CanAddEditDelete" />
    }
    else
    {
        <EditNewDeleteIconButtons OnEdit="OnEdit"
                                  ShowDivider="false"
                                  CanEdit="CanAddEditDelete" />
    }
}

<style>
    .max-phone-grid-height {
        max-height: 163px !important;
    }

    #phoneGrid .k-grid-header {
        background-color: #f8f9fa;
    }

    #phoneGrid .k-table-thead {
        display: none;
    }

    .grid-no-scroll .k-grid-content {
        overflow-y: auto;
    }

    .grid-no-scroll .k-grid-header,
    .grid-no-scroll .k-grid-footer {
        padding-right: 0; /* version 2.26 and older requires !important here */
    }

    .grid-no-scroll .k-grid-header-wrap,
    .grid-no-scroll .k-grid-footer-wrap {
        border-right-width: 0;
    }
</style>