<div class="container">
    <TelerikButton ButtonType="ButtonType.Button"
                   Icon="plus"
                   Size="@ThemeConstants.Button.Size.Small"
                   Shape="@Telerik.Blazor.ThemeConstants.Button.Shape.Square"
                   Rounded="@ThemeConstants.Button.Rounded.Full"
                   Class="add-item"
                   OnClick="Add"
                   Id="addPhone" />
    <label for="addPhone"
           class="k-label"
           title="Add phone">
        add Phone
    </label>
    @if (((int)Phones?.Count()) > 0)
    {
        <ContactableTemplate Items="Phones"
                             TItem="CustomerVehicleManagement.Shared.Models.Contactable.PhoneToWrite"
                             Context="phone"
                             @key="Phone"
                             OnRowClick="Edit">
            <TableHeader>
                <th>Number</th>
                <th>Type</th>
                <th>Primary</th>
            </TableHeader>
            <RowTemplate>
                <td>
                    @phone.ToString()
                </td>
                <td>
                    @phone.PhoneType
                </td>
                <td>
                    <TelerikCheckBox @bind-Value="@phone.IsPrimary" Enabled="false"></TelerikCheckBox>
                </td>
            </RowTemplate>
        </ContactableTemplate>
    }

    @if (FormMode == FormMode.Add || FormMode == FormMode.Edit)
    {
        <EditForm Model="Phone">
            <TelerikWindow Visible="true"
                           Modal="true">
                <WindowTitle>
                    Phone
                </WindowTitle>
                <WindowContent>
                    <div class="container">
                        <div class="form-group row">
                            <label class="k-label">Number</label>
                            <TelerikMaskedTextBox @bind-Value="@Phone.Number"
                                                  Mask="(999) 000-0000"
                                                  Width="100%">
                            </TelerikMaskedTextBox>
                        </div>
                        <div class="form-group row">
                            <label class="k-label">Type</label>
                            <TelerikDropDownList @bind-Value="@Phone.PhoneType"
                                                 Data="PhoneTypeEnumData"
                                                 Width="100%"
                                                 TextField="DisplayText"
                                                 ValueField="Value">
                            </TelerikDropDownList>
                        </div>
                        <div class="form-group row">
                            <div>
                                <label>
                                    <TelerikCheckBox @bind-Value="@Phone.IsPrimary"></TelerikCheckBox>
                                    <span class="k-label">Primary</span>
                                </label>
                            </div>
                        </div>
                        <div>
                            <TelerikButton OnClick="Save"
                                           Icon="check"
                                           ThemeColor="primary"
                                           ButtonType="ButtonType.Button"
                                           Class="dialog-button"
                                           title="Save New Phone">
                                Ok
                            </TelerikButton>
                            <TelerikButton OnClick="Cancel"
                                           ButtonType="ButtonType.Button"
                                           Icon="x"
                                           Class="dialog-button"
                                           title="Cancel New Phone">
                                Cancel
                            </TelerikButton>
                            <TelerikButton OnClick="RemoveAsync"
                                           ButtonType="ButtonType.Button"
                                           Icon="trash"
                                           Class="dialog-button bg-danger text-white"
                                           Enabled="FormMode == FormMode.Edit"
                                           title="Remove Phone">
                            </TelerikButton>
                        </div>
                    </div>
                </WindowContent>
            </TelerikWindow>
        </EditForm>

    }
    @*<div>
        <TelerikButton OnClick="Add"
                       Icon="plus"
                       ButtonType="ButtonType.Button"
                       Class="button-border-success"
                       title="Add New Phone">
            Add Phone
        </TelerikButton>
    </div>*@
</div>
<style>
    .k-label {
        margin-bottom: .2rem !important;
    }

    .add-item {
        color: white;
        background-color: #5cb85c;
    }

    .remove-item {
        color: white;
        background-color: #d9534f;
    }
</style>