@using Menominee.Client.Shared
@inherits LayoutComponentBase

<TelerikRootComponent>
    <TelerikDrawer Data="@NavigablePages"
                   @bind-Expanded="@DrawerExpanded"
                   MiniMode="true"
                   Mode="@DrawerMode.Push"
                   @ref="@DrawerRef"
                   @bind-SelectedItem="@SelectedItem">
        <Template>
            <div class="k-drawer-items">
                <ul>
                    @foreach (var item in NavigablePages)
                    {
                        <li @onclick:stopPropagation @onclick="@(() => SelectAndNavigateAsync(item))"
                        class="k-drawer-item @GetSelectedItemClass(item)"
                        id="@item.ElementId"
                        style="white-space:nowrap">
                            <span class="@MenuItemClass(item.ItemId)" id="@item.ElementId" style="margin-right: 8px;">@GetIconName(item)</span>
                            @if (DrawerExpanded)
                            {
                                <span class="k-item-text">@item.Text</span>
                            }
                        </li>
                    }
                </ul>
            </div>
        </Template>
        <DrawerContent>
            <div class="main">
                <div class="top-row">
                    <div class="row main-header" id="header-section">
                        <ul class="header-list">
                            <li class="float-left header-style nav-pane">
                                <span class="red-text">Stock</span>
                                <span class="white-text">Trac</span>
                                <span class="sms">Shop Management System</span>
                            </li>
                        </ul>
                        <div class="login-display">
                            <LoginDisplay />
                        </div>
                    </div>
                </div>
                @*<CascadingValue Value="RepairOrderEditMenuVisible" Name="RepairOrderEditMenuVisible">*@
                <CascadingValue Value="this" Name="MainLayout">
                    <div class="m-module-menu-bar">
                        @switch (SelectedItem?.ItemId)
                        {
                            case ModuleId.MainMenu:
                                break;
                            case ModuleId.Dispatch:
                                <DispatchMenu />
                                break;
                            case ModuleId.RepairOrders:
                                <RepairOrdersMenu RepairOrderEditMenuVisible="RepairOrderEditMenuVisible" />
                                break;
                            case ModuleId.Inspections:
                                <InspectionsMenu />
                                break;
                            case ModuleId.Schedule:
                                <SchedulerMenu />
                                break;
                            case ModuleId.PartOrders:
                                <PartsOrdersMenu />
                                break;
                            case ModuleId.Inventory:
                                <InventoryMenu />
                                break;
                            case ModuleId.Reports:
                                <ReportsMenu />
                                break;
                            case ModuleId.Customers:
                                <CustomersMenu />
                                break;
                            case ModuleId.Receivables:
                                <ReceivablesMenu />
                                break;
                            case ModuleId.Payables:
                                <PayablesMenu />
                                break;
                            case ModuleId.Employees:
                                <EmployeesMenu />
                                break;
                            case ModuleId.Settings:
                                <SettingsMenu />
                                break;
                            default:
                                break;
                        }
                    </div>

                    <div class="content px-4">
                        @Body
                    </div>
                </CascadingValue>
            </div>
        </DrawerContent>
    </TelerikDrawer>
</TelerikRootComponent>

<style>
    /* the size of the containers will fill up their parents up to the viewport */
    html, body, app, .k-drawer-container, .k-drawer-content, .main, #app {
        width: 100%;
        height: 100%;
        max-height: 100%;
    }

    /* vertical scroll should happen in the main portion of the content - where the Body is
                                                                                                                    This keeps the header sticky at the top
                                                                                                                    */
    .main {
        overflow-y: auto;
        flex: 1;
    }

        .main .top-row {
            justify-content: flex-end;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 21;
            background: var(--bg-color-dark);
        }

    .top-row {
        height: 55px;
        display: flex;
        align-items: center;
    }

    .k-drawer-mini .k-drawer.k-drawer-start, .k-drawer-expanded .k-drawer.k-drawer-start, .k-drawer-left.k-drawer-mini .k-drawer,
    .k-drawer-left.k-drawer-expanded .k-drawer {
        border-right-width: 0px;
    }

    /* horizontal scroll happens in the drawer content to keep the drawer on the left side of the screen */
    .k-drawer-content {
        overflow-x: auto;
    }

    .k-drawer-mini .k-drawer-wrapper {
        width: calc(2rem + 20px) !important;
    }

    .k-drawer-expanded .k-drawer-wrapper {
        width: 180px !important;
    }

    /* sizing of the header */
    .top-row {
        padding-left: 12px;
    }

    .row.drawer-container {
        margin: 0;
    }

    .k-icon, .k-drawer-item, .material-icons {
        /*font-size: 16px !important;*/
        /*height: 2.7rem;*/
    }

    .k-drawer-item {
        padding: 0.25rem 1rem !important;
    }

        .material-icons, .k-drawer-item .k-icon {
            font-size: 20px;
        }

    TelerikDrawer .k-icon {
        font-family: "Material Icons";
    }

    .m-module-menu-bar {
        position: sticky;
        top: 55px;
        z-index: 20;
    }

    .row.main-header {
        display: initial; /*grid;*/
        padding: 0;
        margin: 0 0 0 2px;
        border: 0;
    }

    .main-header {
        width: 100%;
        padding: 3px 8px;
        height: 55px;
        min-height: 55px;
        max-height: 55px;
        background: var(--bg-color-dark); /*#274c77;*/
        color: white;
    }

        .main-header .header-style {
            line-height: 40px;
            height: 55px;
            padding: 8px;
            padding-left: 0;
            list-style: none;
            text-align: left;
            font-size: 20px;
            font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif";
        }

        .main-header .header-style-link {
            font-size: 12px;
            padding-right: 1em;
            color: white;
            opacity: 87%;
        }

            .main-header .header-style-link:hover {
                opacity: 100%;
            }

        .main-header .border-left {
            border-left: 1px solid #d2d6de;
            width: 10em;
        }

        .main-header .float-left {
            float: left;
        }

        .main-header .icon-menu {
            width: 40px;
            cursor: pointer;
        }

        .main-header .float-right {
            float: right;
        }

        .main-header .header-list {
            padding: 0;
            margin: 0;
        }

    .menu-button {
        width: 20px;
    }

    /*    .k-drawer-container .k-drawer-items .svg-inline--fa + .k-item-text {
                                                                                        padding-left: 1rem;
                                                                                    }

                                                                                    .k-drawer-container .k-drawer-items .svg-inline--fa {
                                                                                        height: 32px;
                                                                                        width: 1.25rem;
                                                                                    }
                                                                                */
    /*    .k-drawer-container .k-drawer-items .k-item-text {
                                                                                        padding-left: 1rem;
                                                                                    }

                                                                                    .k-drawer-container .k-drawer-items {
                                                                                        height: 32px;
                                                                                        width: 1.25rem;
                                                                                    }*/

    .k-drawer.telerik-blazor.k-widget {
        background-color: var(--bg-color-extra-dark);
        color: white;
    }

    .k-drawer.telerik-blazor {
        background-color: var(--bg-color-extra-dark);
        color: white;
    }

    .k-drawer-item.k-state-selected, .k-drawer-item.k-state-selected.k-state-focused, .k-drawer-item.k-selected {
        /*background-color: var(--bg-color-medium) !important;*/
        box-shadow: none;
    }

    .login-display {
        float: right;
        justify-self: right;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .red-text {
        color: #f5535e;
        font-weight: 800;
        font-size: 22px;
        text-shadow: 1px 1px 2px black;
    }

    .yellow-text {
        color: yellow;
    }

    .white-text {
        color: white;
        font-weight: 800;
        font-size: 22px;
        text-shadow: 1px 1px 2px black;
    }

    .sms {
        color: white;
        font-size: 20px;
        margin-left: 1.5rem;
    }

    /* Module Menu start */
    /*    .sb-header {
                                                                                        top: 55px;
                                                                                        display: flex;
                                                                                        height: 50px;
                                                                                        background: var(--bg-color-medium);
                                                                                        box-shadow: 0 8px 11px -6px rgb(0 0 0 / 12%);
                                                                                        z-index: 20;
                                                                                        overflow: visible;
                                                                                        position: sticky;
                                                                                    }

                                                                                    .e-view {
                                                                                        bottom: 0;
                                                                                        left: 0;
                                                                                        overflow: hidden;
                                                                                        position: absolute;
                                                                                        display: block;
                                                                                        right: 0;
                                                                                        top: 0;
                                                                                    }

                                                                                    .sb-header div, .sb-header span {
                                                                                        outline: none;
                                                                                        outline-color: initial;
                                                                                        outline-style: none;
                                                                                        outline-width: initial;
                                                                                    }

                                                                                    .sb-header-left, .sb-header-right {
                                                                                        height: 100%;
                                                                                    }

                                                                                    .sb-table {
                                                                                        display: table;
                                                                                    }

                                                                                    .sb-left {
                                                                                        float: left;
                                                                                    }

                                                                                    .sb-table-cell {
                                                                                        display: table-cell;
                                                                                        vertical-align: middle;
                                                                                    }

                                                                                    .sb-right {
                                                                                        float: right;
                                                                                    }*/
    /* Module Menu end */

</style>
