@using Menominee.Shared
<div class="nav-left pt-2">
    <AuthorizeView>
        <NotAuthorized>
            <TelerikMenu Data="@NotAuthorizedMenuData"
                         Orientation="MenuOrientation.Vertical"
                         Class="nav-left-items"></TelerikMenu>

        </NotAuthorized>
    </AuthorizeView>
    <AuthorizeView Policy="@Policies.CanManageUsers">
        <Authorized>
            <TelerikMenu Data="@AdminMenuData"
                         Orientation="MenuOrientation.Vertical"
                         Class="nav-left-items"></TelerikMenu>
        </Authorized>
    </AuthorizeView>
</div>

<style>
    .nav-left {
        display: flex;
        background-color: #E2D9C4;
    }

    .nav-left-items {
        flex-grow: 1;
        flex-shrink: 1;
    }

</style>

@*
    <AuthorizeView Policy="@Policies.CanManageUsers">
    <AuthorizeView Policy="@Policies.TechniciansUser">
    <AuthorizeView Policy="@Policies.CanManageHumanResources">
*@




