<div class="nav-left">
    <AuthorizeView>
        <NotAuthorized>
            <TelerikMenu Data="@NotAuthorizedMenuData"
                         Orientation="MenuOrientation.Vertical"
                         Class="nav-left-items"></TelerikMenu>

        </NotAuthorized>
        <Authorized>
            <TelerikMenu Data="@AuthorizedMenuData"
                         Orientation="MenuOrientation.Vertical"
                         Class="nav-left-items"></TelerikMenu>
        </Authorized>

    </AuthorizeView>
</div>

<style>
    .nav-left {
        display: flex;
        background-color: khaki;
        border: 1px solid red;
    }
    .nav-left-items {
        flex-grow: 1;
        flex-shrink: 1;
    }
</style>

@*@using CustomerVehicleManagement.Shared
    <ul class="flex-column">
        <li class="ml-3 mt-3 mr-3">
            <NavLink href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="ml-3 mt-3 mr-3">
                    <NavLink href="persons">
                        <span class="oi oi-list" aria-hidden="true"></span> Persons
                    </NavLink>
                </li>
                <li class="ml-3 mt-3 mr-3">
                    <NavLink href="organizations">
                        <span class="oi oi-list" aria-hidden="true"></span> Organizations
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="@Policies.CanManageUsers">
            <Authorized>
                <li class="ml-3 mt-3 mr-3">
                    <NavLink href="users">
                        <span class="oi oi-people" aria-hidden="true"></span> Users
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="@Policies.TechniciansUser">
            <Authorized>
                <li class="ml-3 mt-3 mr-3">
                    <NavLink href="technicians">
                        <span class="oi oi-cog" aria-hidden="true"></span> Technicians
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="@Policies.CanManageHumanResources">
            <Authorized>
                <li class="ml-3 mt-3 mr-3">
                    <NavLink href="employees">
                        <span class="oi oi-cog" aria-hidden="true"></span> Employees
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>*@



