@page "/settings/shopinfo"

@using Menominee.Client.Components.Settings

<SettingsMenu />

@*@if (Company != null)
    {
        <div class="m-main-content">
            <div class="ui form">
                <EditForm Model="@Company">
                    <div class="m-bordered-form">
                        <ContentHeader Header="Shop Information" />

                        <div class="m-pad-bottom">
                            <label for="name">Shop Name</label>
                            <InputText class="m-form-field" id="name" @bind-Value="@Company.Name" placeholder="Enter name"></InputText>
                        </div>
                        <div class="m-pad-bottom">
                            <label for="street1">Street</label>
                            <InputText class="m-form-field" id="street1" @bind-Value="@Company.Street1" placeholder="Enter street 1"></InputText>
                        </div>

                        <div class="m-pad-bottom">
                            <label for="street2">Street 2</label>
                            <InputText class="m-form-field" id="street2" @bind-Value="@Company.Street2" placeholder="Enter street 2"></InputText>
                        </div>

                        <div class="ui grid">

                            <div class="m-no-pad-top-left">
                                <label for="city">City</label>
                                <InputText class="m-form-field m-pad-bottom" id="city" @bind-Value="@Company.City" placeholder="Enter city"></InputText>
                            </div>

                            <div class="m-no-pad-top-left">
                                <label>State/Prov</label>
                                <InputSelect id="state" class="form-control selectpicker m-form-field m-pad-bottom" @bind-Value=Company.State>
                                    <option>--select state--</option>
                                    @foreach (var state in States)
                                        {
                                        <option value="@state.Abbreviation">@state.Name</option>
                                        }
                                </InputSelect>
                            </div>

                            <div class="m-no-pad-top-left">
                                <div><label>Postal</label></div>
                                <InputText class="m-form-field m-pad-bottom" id="postalCode" @bind-Value="@Company.PostalCode" placeholder="Enter postal code"></InputText>
                            </div>
                        </div>

                        <div class="m-pad-bottom">
                            <div><label>Phone</label></div>
                            <input class="m-form-field" type="text" id="phone" @bind-value="@Company.Phone" placeholder="Enter phone">
                        </div>

                        <SaveDiscardButtons OnSave="@SaveChanges" OnDiscard="@DiscardChanges" />
                    </div>
                </EditForm>
            </div>
        </div>
    }

    <style>
        .ui.grid {
            margin: 0;
            padding: 0;
        }

        .m-form-field-label {
            padding-top: 5px;
        }

        .m-form-row {
            padding: 0 !important;
        }

        #phone {
            max-width: 8rem;
        }

        #postalCode {
            max-width: 5rem;
        }

        #state {
            max-width: 11rem;
        }
    </style>*@
