@if (Address != null)
{
    <EditForm Model="Address">

        <div class="form-group row">
            <label for="address" class="small text-muted">Address</label>
            <InputText class="form-control" id="address" @bind-Value="@Address.AddressLine" placeholder="address"></InputText>
        </div>

        <div class="form-group row">
            <label for="city" class="small text-muted">City</label>
            <InputText class="form-control" id="city" @bind-Value="@Address.City" placeholder="city"></InputText>
        </div>

        <div class="form-group row">
            <label for="state" class="small text-muted">State</label>
            <InputSelect id="state" class="form-control selectpicker" @bind-Value="@Address.State">
                @foreach (var state in Enum.GetValues(typeof(State)))
                    {
                    <option value="@state">@state</option>
                    }
            </InputSelect>
        </div>

        <div class="form-group row">
            <label for="postalCode" class="small text-muted">Postal Code</label>
            <InputText class="form-control" id="postalCode" @bind-Value="@Address.PostalCode" placeholder="postal code"></InputText>
        </div>

    </EditForm>
}