@page "/customers"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
<CustomersMenu />

<div class="grid-display pt-5">
    <Card Title="Customers">
        <Content>
            @if (CustomersList == null)
            {
                @if (!Editing && !Adding)
                {
                    <p><em>Loading...</em></p>
                }
            }
            @if (!Editing && !Adding && CustomersList != null)
            {
                <CustomersGrid CustomersList="CustomersList"
                               OnAddAsync="Add"
                               OnRowClicked="EditAsync"></CustomersGrid>
            }
            @if ((Editing || Adding) && CustomerToWrite != null)
            {
                <p><em>@Caption</em></p>
                <EditForm Model="@CustomerToWrite">

                    <label class="form-control-label">Customer Type</label>
                    <div class="m-form-control-group" for="customerType">
                        <TelerikDropDownList @bind-Value="@CustomerToWrite.CustomerType"
                                             Data="CustomerTypeEnumData"
                                             Width="100%"
                                             TextField="DisplayText"
                                             ValueField="Value"
                                             Id="customerType">
                        </TelerikDropDownList>
                    </div>

                    @*<EntityTypeSelector EntityType="@CustomerToWrite.EntityType"
                        OnEntityTypeChanged="EntityTypeChanged" />*@

                    <label class="form-control-label">Customer Class</label>
                    <div class="m-form-control-group" for="entityType">
                        <TelerikDropDownList @bind-Value="@CustomerToWrite.EntityType"
                                             Data="EntityTypeEnumData"
                                             OnChange="@EntityTypeChanged"
                                             Width="100%"
                                             TextField="DisplayText"
                                             ValueField="Value"
                                             Id="entityType">
                        </TelerikDropDownList>
                    </div>

                    @if (CustomerToWrite.EntityType == Common.Enums.EntityType.Person)
                    {
                        <PersonEditor Person="@CustomerToWrite.Person" />
                    }

                    @if (CustomerToWrite.EntityType == Common.Enums.EntityType.Organization)
                    {
                        @*<OrganizationEditor Item="@CustomerToWrite.Organization" />*@
                        <p>OrganizationEditor GOES HERE</p>
                    }

                    <div class="pt-4">
                        <EditFormButtons Close="Close"
                                         Save="Submit"
                                         EnableSave="true">
                        </EditFormButtons>
                    </div>
                </EditForm>
            }

        </Content>
    </Card>
</div>
<style>
    .grid-display {
        display: grid;
    }
</style>
