@page "/inventory/items/listing"
@page "/inventory/items/listing/{ItemToSelect:long}"

@*<InventoryMenu />*@

<div class="m-main-content">
    <div class="m-form">
        <div>
            <ContentHeader Header="Items" />

            @if (ItemsList == null)
            {
                <p><em>Loading...</em></p>
            }

            @if (ItemsList != null)
            {
                <TelerikGrid Data="ItemsList"
                             OnRowClick="@OnRowSelected"
                             OnRowDoubleClick="@OnEdit"
                             Pageable="true"
                             Sortable="true"
                             FilterMode="GridFilterMode.FilterMenu"
                             SelectionMode="GridSelectionMode.Single"
                             SelectedItemsChanged="@((IEnumerable<InventoryItemToReadInList> itemList) => OnSelect(itemList))"
                             SelectedItems="@SelectedList"
                             Class="m-grid"
                             @ref="@Grid">
                    <GridToolBarTemplate>
                        @if (Manufacturers != null)
                        {
                            <label class="m-no-margin-bottom" for="category">Manufacturer:</label>
                            <TelerikDropDownList @bind-Value="@SelectedMfrId"
                                                 Width="50%"
                                                 Data="@ManufacturerList"
                                                 TextField="DisplayText"
                                                 ValueField="Id"
                                                 OnChange="@OnSelectMfr"
                                                 Id="category">
                            </TelerikDropDownList>
                        }
                        <GridSearchBox Fields="@SearchFields" />
                    </GridToolBarTemplate>
                    <GridColumns>
                        <Telerik.Blazor.Components.GridColumn Width="15%"
                                                              Field="@nameof(InventoryItemToReadInList.ItemNumber)"
                                                              Title="Item Number">
                        </Telerik.Blazor.Components.GridColumn>
                        <Telerik.Blazor.Components.GridColumn Width="30%"
                                                              Field="@nameof(InventoryItemToReadInList.Description)"
                                                              Title="Description">
                        </Telerik.Blazor.Components.GridColumn>
                        <Telerik.Blazor.Components.GridColumn Width="15%"
                                                              Field="@nameof(InventoryItemToReadInList.ItemType)"
                                                              Title="Item Type">
                        </Telerik.Blazor.Components.GridColumn>
                        <Telerik.Blazor.Components.GridColumn Width="20%"
                                                              Field="@nameof(InventoryItemToReadInList.Manufacturer.Name)"
                                                              Title="Manufacturer">
                        </Telerik.Blazor.Components.GridColumn>
                        <Telerik.Blazor.Components.GridColumn Width="20%"
                                                              Field="@nameof(InventoryItemToReadInList.ProductCode.Name)"
                                                              Title="Product Line">
                        </Telerik.Blazor.Components.GridColumn>
                        @*<Telerik.Blazor.Components.GridColumn Width="15%"
                                              Field="@nameof(InventoryItemToReadInList.SuggestedPrice)"
                                              Title="Retail"
                                              TextAlign="ColumnTextAlign.Right"
                                              DisplayFormat="{0:C}">
        </Telerik.Blazor.Components.GridColumn>
        <Telerik.Blazor.Components.GridColumn Width="15%"
                                              Field="@nameof(InventoryItemToReadInList.QuantityOnHand)"
                                              TextAlign="ColumnTextAlign.Right"
                                              Title="On Hand">
        </Telerik.Blazor.Components.GridColumn>*@
                    </GridColumns>
                </TelerikGrid>

                <EditNewDeleteButtons OnDone="@OnDone" OnEdit="@OnEdit" OnNew="@OnAdd" OnDelete="@OnDelete" CanEdit="@CanEdit" CanDelete="@CanDelete" />
            }
        </div>
    </div>

    @if (ItemTypeSelectDialogVisible)
    {
        <InventoryItemTypeSelectDialog @bind-SelectedItemType="SelectedItemType"
                                       DialogVisible="ItemTypeSelectDialogVisible"
                                       OnSelect="OnSelectItemType"
                                       OnCancel="@(() => ItemTypeSelectDialogVisible = false)" />
    }
</div>

<style>
    .m-gid-container, .m-grid {
        /*height: calc(100vh - 265px);*/
        /*min-height: 150px !important;*/
        min-height: calc(100vh - 248px);
    }
</style>