@using Telerik.FontIcons
@if (Taxes == null)
{
    <p><em>Loading...</em></p>
}

@if (Taxes != null)
{
    <TelerikGrid Data="Taxes"
             OnRowClick="@OnRowSelected"
             Sortable="false"
             FilterMode="GridFilterMode.None"
             ShowColumnMenu="false"
             SelectionMode="GridSelectionMode.Single"
             SelectedItems="@SelectedTaxes"
             EditMode="@(CanEdit ? GridEditMode.Inline : GridEditMode.None)"
             @ref="@Grid">
        <GridColumns>
            <GridColumn Width="55%"
                    Editable="false"
                    Title="Tax"
                    ShowColumnChooser="false"
                    Lockable="false">
                <Template>
                    @{
                        var tax = context as VendorInvoiceTaxToWrite;
                        <label class="mb-0">@tax.SalesTax.Description</label>
                    }
                </Template>
                <EditorTemplate>
                    @{
                        var tax = context as VendorInvoiceTaxToWrite;
                        <label class="mb-0">@tax.SalesTax.Description</label>
                    }
                </EditorTemplate>
            </GridColumn>
            <GridColumn Width="35%"
                    Field="@nameof(VendorInvoiceTaxToWrite.Amount)"
                    Title="Amount"
                    DisplayFormat="{0:C}"
                    ShowColumnChooser="false"
                    Editable="true"
                    Lockable="false"
                    ShowColumnMenu="false"
                    Sortable="false"
                    Filterable="false"
                    TextAlign="ColumnTextAlign.Right">
                <Template>
                    @{
                        var tax = context as VendorInvoiceTaxToWrite;
                        <TelerikNumericTextBox @bind-Value="tax.Amount"
                                       Format="C"
                                       Decimals="2"
                                       OnChange="OnTaxAmountChange"
                                       Enabled="@CanEdit"
                                       Arrows="false">
                        </TelerikNumericTextBox>
                    }
                </Template>
                <EditorTemplate>
                    @{
                        var tax = context as VendorInvoiceTaxToWrite;
                        <TelerikNumericTextBox @bind-Value="tax.Amount"
                                       Format="C"
                                       Decimals="2"
                                       OnChange="OnTaxAmountChange"
                                       Enabled="@CanEdit"
                                       Arrows="false">
                        </TelerikNumericTextBox>
                    }
                </EditorTemplate>
            </GridColumn>
            @if (CanEdit)
            {
                <GridCommandColumn Width="130px"
                           Context="VendorInvoiceTaxToWrite">
                    <GridCommandButton Command="_CalcTax"
                               Icon="@FontIcon.Calculator"
                               Size="sm"
                               Class="m-inline-button"
                               OnClick="OnCalcTaxClick">
                        Calculate
                    </GridCommandButton>
                </GridCommandColumn>
            }
        </GridColumns>
    </TelerikGrid>
}
