@if (Payments == null)
{
    <p><em>Loading...</em></p>
}

@if (Payments != null && PaymentMethods != null)
{
    <TelerikGrid Data="Payments"
             OnRowClick="OnRowSelected"
             Sortable="false"
             FilterMode="GridFilterMode.None"
             ShowColumnMenu="false"
             SelectionMode="GridSelectionMode.Single"
             SelectedItems="@SelectedPayments"
             EditMode="@(CanEdit ? GridEditMode.Inline : GridEditMode.None)"
             @ref="Grid">
        <GridColumns>
            <GridColumn Field="Payment.PaymentMethod.Name"
                    Title="Payment Method"
                    Width="55%">
                <Template>
                    @{
                        var payment = context as VendorInvoicePaymentToWrite;
                        <TelerikDropDownList @bind-Value="payment.PaymentMethod.Id"
                                     Data="PaymentMethods"
                                     TextField="Name"
                                     ValueField="Id"
                                     Enabled="@CanEdit"
                                     OnChange="OnPaymentMethodChange">
                            <DropDownListSettings>
                                <DropDownListPopupSettings Height="@popupHeight.ToString()" />
                            </DropDownListSettings>
                        </TelerikDropDownList>
                    }
                </Template>
                <EditorTemplate>
                    @{
                        var payment = context as VendorInvoicePaymentToWrite;
                        <TelerikDropDownList @bind-Value="payment.PaymentMethod.Id"
                                     Data="PaymentMethods"
                                     Enabled="@CanEdit"
                                     TextField="Name"
                                     ValueField="Id">
                        </TelerikDropDownList>
                    }
                </EditorTemplate>
            </GridColumn>

            <GridColumn Width="35%"
                    Field="@nameof(Payment.Amount)"
                    Title="Amount"
                    DisplayFormat="{0:C}"
                    ShowColumnChooser="false"
                    Editable="true"
                    Lockable="false"
                    ShowColumnMenu="false"
                    Sortable="false"
                    Filterable="false"
                    TextAlign="ColumnTextAlign.Right">
                <Template>
                    @{
                        var payment = context as VendorInvoicePaymentToWrite;
                        <TelerikNumericTextBox @bind-Value="payment.Amount"
                                       Format="C"
                                       Decimals="2"
                                       OnChange="OnPaymentAmountChange"
                                       Enabled="@CanEdit"
                                       Arrows="false">
                        </TelerikNumericTextBox>
                    }
                </Template>
                <EditorTemplate>
                    @{
                        var payment = context as VendorInvoicePaymentToWrite;
                        <TelerikNumericTextBox @bind-Value="payment.Amount"
                                       Format="C"
                                       Decimals="2"
                                       OnChange="OnPaymentAmountChange"
                                       Enabled="@CanEdit"
                                       Arrows="false">
                        </TelerikNumericTextBox>
                    }
                </EditorTemplate>
            </GridColumn>
        @if (CanEdit)
            {
                <GridCommandColumn Width="117px"
                           Context="VendorInvoicePaymentToWrite">
                <GridCommandButton Command="_Balance"
                               IconClass="fas fa-arrow-left"
                               Size="sm"
                               Class="m-inline-button"
                               OnClick="OnInsertBalanceClick">
                    Balance
                </GridCommandButton>
            </GridCommandColumn>
            }
        </GridColumns>
    </TelerikGrid>

    @if (CanEdit)
    {
        <EditNewDeleteIconButtons OnNew="Add" OnDelete="OnDelete" ShowDivider="false" CanDelete="CanDelete()" />
    }
}
