@if (salesTaxList == null)
{
    <p><em>Loading...</em></p>
}

@if (salesTaxList != null)
{
    <TelerikGrid Data="salesTaxList"
             OnRowClick="@OnRowSelected"
             Sortable="false"
             FilterMode="GridFilterMode.None"
             ShowColumnMenu="false"
             SelectionMode="GridSelectionMode.Single"
             @ref="@Grid">
        <GridColumns>
            <GridColumn Width="60%"
                    Field="@nameof(SalesTaxListItem.Description)"
                    Title="Tax">
            </GridColumn>
            <GridColumn Width="40%"
                    Field="@nameof(SalesTaxListItem.Amount)"
                    Title="Amount" 
                    DisplayFormat="{0:C}"
                    TextAlign="ColumnTextAlign.Right">
            </GridColumn>
        </GridColumns>
    </TelerikGrid>

    @*    <EditNewDeleteIconButtons
        OnNew="@OnNew"
        OnDelete="@OnDelete"
        ShowDivider="false" />*@
}
