@using Menominee.Client.Components.Shared

<div class="form m-form">

    <ContentHeader Header="@Title" />

    <div class="form-group mb-2">
        <label class="m-label">ID</label>
        <TelerikTextBox @bind-Value="Vendor.VendorCode"
                        MaxLength="10"
                        AutoComplete="off"
                        Width="175px">
        </TelerikTextBox>

        <span class="float-right">
            <TelerikCheckBox Id="active-vendor" @bind-Value="@Vendor.IsActive"></TelerikCheckBox>
            <label class="k-label" for="active-vendor">Active Vendor</label>
        </span>
    </div>

    <div class="row">
        <label class="k-label">Name</label>
        <TelerikTextBox @bind-Value="Vendor.Name"
                        AutoComplete="off"
                        Width="100%">
        </TelerikTextBox>
    </div>

    <div class="form-row m-flex-form align-centers">
        <div class="form-group mb-2">
            <label class="m-label" for="vendorType">Vendor Type</label>
            <div class="k-form-field-wrap">
                <TelerikDropDownList @bind-Value="@Vendor.VendorRole"
                                     Data="VendorTypeEnumData"
                                     TextField="DisplayText"
                                     ValueField="Value"
                                     Width="225px">
                    <DropDownListSettings>
                        <DropDownListPopupSettings Height="98px" />
                    </DropDownListSettings>
                </TelerikDropDownList>
            </div>
        </div>
        <div class="form-group mb-2">
            <label class="m-label">Default Payment Method</label>
            <div class="k-form-field-wrap">
                <TelerikDropDownList @bind-Value="PaymentMethodId"
                                     Data="PaymentMethodList"
                                     TextField="DisplayText"
                                     ValueField="Value"
                                     OnChange="OnPaymentMethodChange"
                                     Width="200px">
                </TelerikDropDownList>
            </div>
        </div>
        @if (PaymentMethodId > 0)
        {
            <div class="form-group mb-2">
                <TelerikCheckBox Id="autocomplete" @bind-Value="AutoComplete"></TelerikCheckBox>
                <label class="k-label" for="autocomplete">Auto-Complete Invoices</label>
            </div>
        }
    </div>
    <div>
        <TelerikTabStrip PersistTabContent="true">
            <TabStripTab Title="Contact" Class="m-rounded-tab">
                <div id="contactTab">
                    <div class="contact-info">
                        <div class="p-0">
                            <Card Title="Address">
                                <Content>
                                    <AddressEditor Address="@Vendor?.Address"
                                                   Enabled="true"
                                                   FormMode="FormMode" />
                                </Content>
                            </Card>
                        </div>
                        <div class="phones-emails">
                            <div class="phone-email-card">
                                <Card Title="Phones">
                                    <Content>
                                        <PhoneListEditor Phones="@Vendor.Phones"
                                                         DefaultPhoneType="@PhoneType.Work"
                                                         FormMode="FormMode" />
                                    </Content>
                                </Card>
                            </div>
                            <div class="phone-email-card">
                                <Card Title="Emails">
                                    <Content>
                                        <EmailListEditor Emails="@Vendor.Emails"
                                                         FormMode="FormMode" />
                                    </Content>
                                </Card>
                            </div>
                        </div>
                    </div>
                </div>
            </TabStripTab>
            <TabStripTab Title="Notes" Class="m-rounded-tab">
                <div>
                    <TelerikTextArea Id="notes" AutoSize="false" @bind-Value="@Vendor.Notes"></TelerikTextArea>
                </div>
            </TabStripTab>
        </TelerikTabStrip>
    </div>


    <SaveDiscardButtons OnSave="@OnSaveAsync" OnDiscard="@OnDiscard" />
</div>

<style>
    .contact-info {
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        grid-gap: 16px;
        align-content: stretch;
    }

    #contactTab, #notesTab {
        min-height: 432px;
    }

    #notes.k-input-inner {
        min-height: 430px;
    }

/*     .m-tab-content {
        padding-bottom: 14px;
    } */

    .form-row.m-flex-form {
        margin: 0;
    }

    .phones-emails {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .align-centers {
        align-items: center;
    }

    .phone-email-card {
        /* max-height: 292px; */
    }

    @@media (max-width:850px) {
        .contact-info {
            grid-template-columns: 1fr;
        }

        .phones-emails {
            display: grid;
            grid-gap: 16px;
        }
    }
</style>
