<EditForm Model="Item">

    <TelerikWindow Visible="DialogVisible"
                   Modal="true"
                   Width="450px"
                   MinWidth="400px"
                   Class="popupWindowClass">
        <WindowTitle>
            @Title
        </WindowTitle>
        <WindowContent>
            <div class="form-row">
                <div class="form-group col-12">
                    @if (itemTypes != null && itemTypes.Count > 0)
                    {
                        <label class="m-label" for="itemType">Item Type</label>
                        <div class="m-form-control-group">
                            <SfDropDownList TValue="VendorInvoiceItemType"
                                        TItem="InvoiceItemType"
                                        PopupHeight="460px"
                                        DataSource="@itemTypes"
                                        @bind-Value="@Item.Type"
                                        Id="itemType">
                                <DropDownListFieldSettings Text="Text" Value="Value" />
                            </SfDropDownList>
                        </div>
                    }
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    @if (Manufacturers != null)
                    {
                        <label class="m-label" for="category">Manufacturer</label>
                        <div class="m-form-control-group">
                            <TelerikDropDownList @bind-Value="@manufacturerId"
                                             Width="100%"
                                             Data="@Manufacturers"
                                             TextField="DisplayText"
                                             ValueField="Id"
                                             Class="form-control"
                                             OnChange="OnManufacturerChangeAsync"
                                             Id="category">
                            </TelerikDropDownList>
                        </div>
                    }
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    <label class="m-label" for="partNum">Part Number</label>
                    <div class="m-form-control-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="partNum" @bind-value="@Item.PartNumber">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" @onclick="SelectInventoryItem"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    <label class="m-label" for="description">Description</label>
                    <div class="m-form-control-group">
                        <TelerikTextBox @bind-Value="@Item.Description"
                                        Width="100%"
                                        Id="description">
                        </TelerikTextBox>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    @if (SaleCodes != null)
                    {
                        <label class="m-label" for="saleCode">Sale Code</label>
                        <div class="m-form-control-group">
                            <SfDropDownList TValue="long"
                                        TItem="SaleCodeToReadInList"
                                        PopupHeight="230px"
                                        Placeholder="Select a sale code"
                                        DataSource="@SaleCodes"
                                        @bind-Value="@saleCodeId"
                                        OnChange="OnSaleCodeChangeAsync">
                                <DropDownListFieldSettings Text="DisplayText" Value="Id" />
                            </SfDropDownList>
                        </div>
                    }
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <label class="m-label" for="qty">Quantity</label>
                    <div class="m-form-control-group">
                        <TelerikNumericTextBox @bind-Value="@Item.Quantity"
                                               Id="qty">
                        </TelerikNumericTextBox>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <div>
                        <label class="m-label">Cost</label>
                    </div>
                    <TelerikNumericTextBox @bind-Value="Item.Cost"
                                           Format="$#0.00#"
                                           Decimals="3"
                                           Arrows="false">
                    </TelerikNumericTextBox>
                </div>
                <div class="form-group col-6">
                    <div>
                        <label class="m-label">Core</label>
                    </div>
                    <TelerikNumericTextBox @bind-Value="Item.Core"
                                           Format="$#0.00#"
                                           Decimals="3"
                                           Arrows="false">
                    </TelerikNumericTextBox>
                </div>
            </div>

            <hr id="divider">
            <div>
                <TelerikButton OnClick="OnSave"
                               ButtonType="ButtonType.Button"
                               ThemeColor="primary"
                               Class="dialog-button">
                    <i class="fas fa-check"></i> OK
                </TelerikButton>
                <TelerikButton OnClick="OnCancel"
                               ButtonType="ButtonType.Button"
                               Class="dialog-button">
                    <i class="fas fa-times"></i> Cancel
                </TelerikButton>
            </div>
        </WindowContent>
    </TelerikWindow>

</EditForm>

@if (ItemSelectDialogVisible)
{
    <InventoryItemSelectForm DialogVisible="@ItemSelectDialogVisible"
                         @bind-SelectedItem="@SelectedInventoryItem"
                         FilterInstallableItems="true"
                         OnSelect="@AddItemAsync"
                         OnCancel="@CancelAddItem" />
}

<style>
    #divider {
        margin-top: 1em;
        border-color: darkgrey;
    }

    .dialog-button {
        margin-right: 0.7rem;
    }

</style>