@using CustomerVehicleManagement.Shared.Models.Payables.Invoices.Payments
@using Menominee.Client.Components.Shared
@if (Payments == null)
{
    <p><em>Loading...</em></p>
}

@if (Payments != null)
{
    <TelerikGrid Data="Payments"
                 OnRowClick="@OnRowSelected"
                 OnRowDoubleClick="@OnEdit"
                 Sortable="false"
                 FilterMode="GridFilterMode.None"
                 ShowColumnMenu="false"
                 SelectionMode="GridSelectionMode.Single"
                 @ref="@Grid">
        <GridColumns>
            <GridColumn Width="60%"
                        Field="@nameof(VendorInvoicePaymentToWrite.PaymentMethodName)"
                        Title="Payment Method">
            </GridColumn>
            <GridColumn Width="40%"
                        Field="@nameof(VendorInvoicePaymentToWrite.Amount)"
                        Title="Amount"
                        DisplayFormat="{0:C}"
                        TextAlign="ColumnTextAlign.Right">
            </GridColumn>
        </GridColumns>
    </TelerikGrid>

    <EditNewDeleteIconButtons OnEdit="@OnEdit" OnNew="@OnNew" OnDelete="@OnDelete" ShowDivider="false" />
}
@*<div class="form">
        <h5 class="m-bordered-form-header">Payments</h5>
        <div class="m-bordered-form">
            <div>
                <div>
                    <SfGrid DataSource="@Payments"
                            AllowPaging="false"
                            AllowSorting="false"
                            AllowFiltering="false"
                            AllowTextWrap="true"
                            AllowResizing="true"
                            AllowReordering="false"
                            Width="100%"
                            ID="Grid"
                            @ref="Grid"
                            GridLines="GridLine.None"
                            Height="60px"
                            RowHeight="20">
                        <GridTemplates>
                            <EmptyRecordTemplate>
                            </EmptyRecordTemplate>
                        </GridTemplates>
                        <GridFilterSettings Mode="FilterBarMode.Immediate" ImmediateModeDelay="200"></GridFilterSettings>

                        <GridColumns>
                            <Syncfusion.Blazor.Grids.GridColumn Field=@nameof(VendorInvoicePaymentToWrite.PaymentMethodName)
                                                                HeaderText="Payment Method"
                                                                Width="60%">
                            </Syncfusion.Blazor.Grids.GridColumn>
                            <Syncfusion.Blazor.Grids.GridColumn Field=@nameof(VendorInvoicePaymentToWrite.Amount)
                                                                Width="40%"
                                                                HeaderText="Amount"
                                                                TextAlign="TextAlign.Right">
                            </Syncfusion.Blazor.Grids.GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
                <EditNewDeleteIconButtons OnEdit="@OnEdit" OnNew="@OnNew" OnDelete="@OnDelete" ShowDivider="false" />
            </div>
        </div>
    </div>*@

@*<style>
        .mm-margin-top {
            margin-top: .5em;
        }
    </style>*@