@if (Taxes == null)
{
    <p><em>Loading...</em></p>
}

@if (Taxes != null)
{
    <TelerikGrid Data="Taxes"
                 OnRowClick="@OnRowSelected"
                 OnRowDoubleClick="@OnEdit"
                 Sortable="false"
                 FilterMode="GridFilterMode.None"
                 ShowColumnMenu="false"
                 SelectionMode="GridSelectionMode.Single"
                 @ref="@Grid">
        <GridColumns>
            <GridColumn Width="60%"
                        Field="SalesTax.TaxType"
                        Title="Tax">
            </GridColumn>
            <GridColumn Width="40%"
                        Field="@nameof(VendorInvoiceTaxToWrite.Amount)"
                        Title="Amount" DisplayFormat="{0:C}"
                        TextAlign="ColumnTextAlign.Right">
            </GridColumn>
        </GridColumns>
    </TelerikGrid>

    <EditNewDeleteIconButtons
        OnNew="@OnNew" 
        OnDelete="@OnDelete"
        ShowDivider="false" />
}
