<table class="w-100 table table-striped table-sm mb-0">
    <tbody>
        <tr>
            <td class="m-totals-data" colspan="8">Purchases</td>
            <td class="m-totals-data text-right" colspan="4">@Totals.Purchases.ToString("C")</td>
        </tr>
        <tr>
            <td class="m-totals-data" colspan="8">Misc Debit</td>
            <td class="m-totals-data text-right" colspan="4">@Totals.MiscellaneousDebits.ToString("C")</td>
        </tr>
        <tr>
            <td class="m-totals-data" colspan="8">Stock Return</td>
            <td class="m-totals-data text-right" colspan="4">@Totals.Returns.ToString("C")</td>
        </tr>
        <tr>
            <td class="m-totals-data" colspan="8">Defective</td>
            <td class="m-totals-data text-right" colspan="4">@Totals.Defectives.ToString("C")</td>
        </tr>
        <tr>
            <td class="m-totals-data" colspan="8">Warranty</td>
            <td class="m-totals-data text-right" colspan="4">@Totals.Warranties.ToString("C")</td>
        </tr>
        <tr>
            <td class="m-totals-data" colspan="8">Core Return</td>
            <td class="m-totals-data text-right" colspan="4">@Totals.CoreReturns.ToString("C")</td>
        </tr>
        <tr>
            <td class="m-totals-data" colspan="8">Misc Credit</td>
            <td class="m-totals-data text-right" colspan="4">@Totals.MiscellaneousCredits.ToString("C")</td>
        </tr>
        <tr>
            <td class="m-totals-data" colspan="8">Bal. Forward</td>
            <td class="m-totals-data text-right" colspan="4">@Totals.BalanceForwards.ToString("C")</td>
        </tr>
        <tr>
            <td class="m-totals-data" colspan="8">Taxes</td>
            <td class="m-totals-data text-right" colspan="4">@Totals.Taxes.ToString("C")</td>
        </tr>
        <tr id="totalsLine">
            <td class="m-totals-data m-row-divider" colspan="8">Total</td>
            <td class="m-totals-data text-right m-row-divider" colspan="4">@Totals.Total.ToString("C")</td>
        </tr>
    </tbody>
</table>

<style>

    #totalsLine {
        font-weight: 600;
    }

    .m-totals-data, .m-totals-data:last-child {
        border: 0 !important;
        padding: 0 0 .25rem 0 !important;
    }

    td.m-row-divider, td.m-row-divider:last-child {
        border-top: 1px solid gray !important;
        padding-top: .25rem !important;
    }

</style>
