
@if (Taxes == null)
{
    <p><em>Loading...</em></p>
}

@if (Taxes != null)
{
    <TelerikGrid Data="Taxes"
                 OnRowClick="@OnRowSelected"
                 OnRowDoubleClick="@OnEdit"
                 Sortable="false"
                 FilterMode="GridFilterMode.None"
                 ShowColumnMenu="false"
                 SelectionMode="GridSelectionMode.Single"
                 @ref="@Grid">
        <GridColumns>
            <GridColumn Width="60%"
                        Field="@nameof(VendorInvoiceTaxToWrite.TaxName)"
                        Title="Tax">
            </GridColumn>
            <GridColumn Width="40%"
                        Field="@nameof(VendorInvoiceTaxToWrite.Amount)"
                        Title="Amount" DisplayFormat="{0:C}"
                        TextAlign="ColumnTextAlign.Right">
            </GridColumn>
        </GridColumns>
    </TelerikGrid>

    <EditNewDeleteIconButtons OnEdit="@OnEdit" OnNew="@OnNew" OnDelete="@OnDelete" ShowDivider="false" />
}
@*</div>
    </div>*@

<!--<div>
    <SfGrid DataSource="@Taxes"
            TValue="VendorInvoiceTaxToWrite"
            AllowPaging="false"
            AllowSorting="false"
            AllowFiltering="false"
            AllowTextWrap="true"
            AllowResizing="true"
            AllowReordering="false"
            Width="100%"
            ID="Grid"
            @ref="Grid"
            GridLines="GridLine.None"
            Height="60px"
            RowHeight="20">
        <GridTemplates>
            <EmptyRecordTemplate>-->
@*<span>No records to display</span> //Leaving the EmptyRecordTemplate empty results in no message*@
<!--</EmptyRecordTemplate>
</GridTemplates>
<GridFilterSettings Mode="FilterBarMode.Immediate" ImmediateModeDelay="200"></GridFilterSettings>-->
@*<GridEvents RowSelected="OnRowSelected"
                OnRecordDoubleClick="OnEditInvoice"
                RowDataBound="RowDataBoundHandler"
                DataBound="DataBoundHandler"
                TValue="VendorInvoice">
    </GridEvents>*@
<!--<GridColumns>
            <Syncfusion.Blazor.Grids.GridColumn Field=@nameof(VendorInvoiceTaxToEdit.Id)
                                                HeaderText="Tax"
                                                Width="60%">
            </Syncfusion.Blazor.Grids.GridColumn>
            <Syncfusion.Blazor.Grids.GridColumn Field=@nameof(VendorInvoiceTaxToEdit.Amount)
                                                Width="40%"
                                                HeaderText="Amount"
                                                TextAlign="TextAlign.Right">
            </Syncfusion.Blazor.Grids.GridColumn>
        </GridColumns>
    </SfGrid>
</div>-->
