@if (LineItems is null)
{
    <p><em>Loading...</em></p>
}

@if (LineItems is not null)
{
    <TelerikGrid Data="LineItems"
             OnRowClick="@OnRowSelected"
             OnRowDoubleClick="@OnEdit"
             Sortable="true"
             FilterMode="GridFilterMode.FilterMenu"
             ShowColumnMenu="true"
             SelectionMode="GridSelectionMode.Single"
             SelectedItemsChanged="@((IEnumerable<VendorInvoiceLineItemToWrite> itemList) => OnSelect(itemList))"
             SelectedItems="@SelectedItems"
             @ref="@Grid">
        <GridColumns>
            <GridColumn Width="10%"
                    Field="@nameof(VendorInvoiceLineItemToWrite.Type)"
                    Title="Type"
                    ShowColumnChooser="false"
                    Lockable="false">
            </GridColumn>
            <GridColumn Width="20%"
                    Field="Item.PartNumber"
                    Title="Part Number"
                    ShowColumnChooser="false"
                    Lockable="false">
            </GridColumn>
            <GridColumn Width="30%"
                    Field="Item.Description"
                    Title="Description"
                    ShowColumnChooser="false"
                    Lockable="false">
            </GridColumn>
            <GridColumn Width="10%"
                    Field="@nameof(VendorInvoiceLineItemToWrite.Quantity)"
                    Title="Quantity"
                    ShowColumnChooser="false"
                    Lockable="false"
                    ShowColumnMenu="false"
                    Sortable="false"
                    Filterable="false"
                    TextAlign="ColumnTextAlign.Right">
            </GridColumn>
            <GridColumn Width="10%"
                    Field="@nameof(VendorInvoiceLineItemToWrite.Cost)"
                    Title="Cost"
                    ShowColumnChooser="false"
                    Lockable="false"
                    ShowColumnMenu="false"
                    Sortable="false"
                    Filterable="false"
                    DisplayFormat="{0:C}"
                    TextAlign="ColumnTextAlign.Right">
            </GridColumn>
            <GridColumn Width="10%"
                    Field="@nameof(VendorInvoiceLineItemToWrite.Core)"
                    Title="Core"
                    ShowColumnChooser="false"
                    Lockable="false"
                    ShowColumnMenu="false"
                    Sortable="false"
                    Filterable="false"
                    DisplayFormat="{0:C}"
                    TextAlign="ColumnTextAlign.Right">
            </GridColumn>
            <GridColumn Width="10%"
                    Title="Extended"
                    ShowColumnChooser="false"
                    Lockable="false"
                    ShowColumnMenu="false"
                    Sortable="false"
                    Filterable="false"
                    DisplayFormat="{0:C}"
                    TextAlign="ColumnTextAlign.Right">
                <Template>
                    @{
                        var item = context as VendorInvoiceLineItemToWrite;
                        var extended = (item.Cost + item.Core) * item.Quantity;
                        @(extended.ToString("C"))
                    }
                </Template>
            </GridColumn>
        </GridColumns>
    </TelerikGrid>

    @if (ItemToModify is not null)
    {
        <VendorInvoiceItemEditor LineItem="ItemToModify"
                         DialogVisible="EditDialogVisible"
                         Mode="ItemFormMode"
                         OnSave="OnSaveEdit"
                         OnCancel="OnCancelEdit" />
    }

    <EditNewDeleteIconButtons OnEdit="OnEdit"
                          OnNew="OnNew"
                          OnDelete="OnDelete"
                          ShowDivider="false"
                          CanEdit="CanEdit"
                          CanDelete="CanDelete" />
}

