<EditForm Model="Item">

    <TelerikWindow Visible="DialogVisible"
                   Modal="true"
                   Class="popupWindowClass">
        <WindowTitle>
            @Title
        </WindowTitle>
        <WindowContent>
            @*<div class="container">*@
            <div class="form-row">
                <div class="form-group col-12">
                    @if (itemTypes != null && itemTypes.Count > 0)
                    {
                        <label class="m-label" for="itemType">Item Type</label>
                        <div class="m-form-control-group">
                            <SfDropDownList TValue="VendorInvoiceItemType"
                                        TItem="InvoiceItemType"
                                        PopupHeight="230px"
                                        DataSource="@itemTypes"
                                        @bind-Value="@Item.Type"
                                        Id="itemType">
                                <DropDownListFieldSettings Text="Text" Value="Value" />
                            </SfDropDownList>
                        </div>
                    }
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    <label class="m-label" for="partNum">Part Number</label>
                    <div class="m-form-control-group">
                        <TelerikTextBox @bind-Value="@Item.PartNumber"
                                        Width="100%"
                                        Id="partNum">
                        </TelerikTextBox>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <label class="m-label" for="description">Description</label>
                    <div class="m-form-control-group">
                        <TelerikTextBox @bind-Value="@Item.Description"
                                        Width="100%"
                                        Id="description">
                        </TelerikTextBox>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <label class="m-label" for="qty">Quantity</label>
                    <div class="m-form-control-group">
                        <TelerikNumericTextBox @bind-Value="@Item.Quantity"
                                               Width="50%"
                                               Id="qty">
                        </TelerikNumericTextBox>
                    </div>
                </div>
            </div>
            <hr id="divider">
            <div>
                <TelerikButton OnClick="OnSave"
                               ButtonType="ButtonType.Button"
                               ThemeColor="primary"
                               Class="dialog-button">
                    <i class="fas fa-check"></i> OK
                </TelerikButton>
                <TelerikButton OnClick="OnCancel"
                               ButtonType="ButtonType.Button"
                               Class="dialog-button">
                    <i class="fas fa-times"></i> Cancel
                </TelerikButton>
            </div>
        </WindowContent>
    </TelerikWindow>

</EditForm>

<style>
    #divider {
        margin-top: 1em;
        border-color: darkgrey;
    }

    .dialog-button {
        margin-right: 0.7rem;
    }

</style>