@using Menominee.Client.Components.Shared

<div class="form m-form">
    <ContentHeader Header="@Title" />

    <div class="form-group">
        <div>
            <label class="m-label">ID</label>
        </div>
        <TelerikTextBox @bind-Value="Vendor.VendorCode"
                        MaxLength="10"
                        Width="175px">
        </TelerikTextBox>

        <TelerikCheckBox Id="active-vendor" @bind-Value="@Vendor.IsActive"></TelerikCheckBox>
        <label class="k-label" for="active-vendor">Active Vendor</label>
    </div>

    <div class="form-group">
        <label class="m-label">Name</label>
        <TelerikTextBox @bind-Value="Vendor.Name"
                        Width="100%">
        </TelerikTextBox>
    </div>

    <div class="contact-info">
        <div>
            <Card Title="Address" Collapsible="true" Collapsed="false">
                <Content>
                    <AddressEditor Address="@Vendor?.Address"
                                   Enabled="true"
                                   FormMode="FormMode" />
                </Content>
            </Card>
        </div>
        <div>
            <Card Title="Phones" Collapsible="true" Collapsed="false">
                <Content>
                    <PhoneListEditor Phones="@Vendor.Phones"
                                     DefaultPhoneType="@PhoneType.Work"
                                     FormMode="FormMode" />
                </Content>
            </Card>
        </div>
        <div>
            <Card Title="Emails" Collapsible="true" Collapsed="false">
                <Content>
                    <EmailListEditor Emails="@Vendor.Emails"
                                     FormMode="FormMode" />
                </Content>
            </Card>
        </div>
    </div>

    <SaveDiscardButtons OnSave="@OnValidSubmit" OnDiscard="@OnDiscard" />
</div>

<style>
    .contact-info {
        display: grid;
        grid-template-columns: 2fr 1.5fr 1.5fr;
        grid-gap: .8rem;
        margin-right: 5px;
    }

    #active-vendor { 
        margin-left: 1rem;
    }

    @@media (max-width:992px) {
        .contact-info {
            grid-template-columns: 1fr;
        }
    }
</style>
