@page "/schedule/version2"
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using MenomineePlayWASM.Client.Components.Scheduler

<SchedulerMenu />

<div class="m-main-content">
    <div class="ui form">
        <h3 class="m-bordered-form-header">Daily Schedule</h3>
        <div class="m-bordered-form m-fixed-height">
            <div>
                <SfSchedule TValue="AppointmentData" Width="100%" Height="calc(100vh - 180px)" @bind-SelectedDate="@CurrentDate" @bind-CurrentView="@CurrentView" WorkDays="@WorkingDays" StartHour="@StartWorkingHours" EndHour="@EndWorkingHours" EnableAutoRowHeight="true">
                    <ScheduleWorkHours Highlight="true" Start="@StartWorkingHours" End="@EndWorkingHours"></ScheduleWorkHours>
                    <ScheduleGroup Resources="@GroupData"></ScheduleGroup>
                    <ScheduleResources>
                        <ScheduleResource TItem="ResourceData" TValue="int" DataSource="@TeamData" Field="TeamId" Title="Team" Name="Teams" TextField="Text" IdField="Id" ColorField="Color"></ScheduleResource>
                        <ScheduleResource TItem="ResourceData" TValue="int[]" DataSource="@TechData" Field="TechId" Title="Tech" Name="Techs" TextField="Text" IdField="Id" GroupIDField="TeamId" ColorField="Color" AllowMultiple="true"></ScheduleResource>
                    </ScheduleResources>
                    <ScheduleViews>
                        <ScheduleView MaxEventsPerRow="2" Option="View.TimelineDay"></ScheduleView>
                    </ScheduleViews>
                    <ScheduleEvents TValue="AppointmentData" EventRendered="OnEventRendered" OnPopupOpen="@OnPopupOpen"></ScheduleEvents>
                    <ScheduleEventSettings DataSource="@DataSource" EnableMaxHeight="true" EnableIndicator="true" EnableTooltip="true" IgnoreWhitespace="true">
                        <Template>
                            <div class="tooltip-wrap">
                                <div>@((context as AppointmentData).Service)</div>
                                <div>@((context as AppointmentData).Vehicle)</div>
                            </div>
                        </Template>
                        <TooltipTemplate>
                            <div class="tooltip-wrap">
                                <div>@((context as AppointmentData).Service)</div>
                                <div>@((context as AppointmentData).ServiceId)</div>
                                <div>@((context as AppointmentData).Vehicle)</div>
                                <div>@((context as AppointmentData).StartTime.ToShortTimeString()) - @((context as AppointmentData).EndTime.ToShortTimeString())</div>
                            </div>
                        </TooltipTemplate>
                        <ChildContent>
                            <ScheduleField Id="Id">
                                <FieldSubject Name="Service" Title="Service" Validation="@RequiredRule"></FieldSubject>
                            </ScheduleField>
                        </ChildContent>
                    </ScheduleEventSettings>
                    <ScheduleTemplates>
                        <EditorTemplate>
                            <table class="custom-event-editor" width="100%" cellpadding="5">
                                <tbody>
                                    <tr>
                                        <td class="e-textlabel m-pad-bottom">Service</td>
                                        <td colspan="4" class="m-pad-bottom">
                                            <SfDropDownList TValue="int" TItem="Service" DataSource="@Services" Placeholder="Choose service" @bind-Value="@((context as AppointmentData).ServiceId)">
                                                <DropDownListFieldSettings Text="Text" Value="Id"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </td>
                                    </tr>
                                    @*<tr>
                                            <td class="e-textlabel m-pad-bottom">Service</td>
                                            <td colspan="4" class="m-pad-bottom">
                                                <SfTextBox @bind-Value="@((context as AppointmentData).Service)"></SfTextBox>
                                            </td>
                                        </tr>*@
                                    <tr>
                                        <td class="e-textlabel m-pad-bottom">Vehicle</td>
                                        <td colspan="4" class="m-pad-bottom">
                                            <SfTextBox @bind-value="@((context as AppointmentData).Vehicle)"></SfTextBox>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="e-textlabel m-pad-bottom">From</td>
                                        <td colspan="4" class="m-pad-bottom">
                                            <SfDateTimePicker @bind-Value="@((context as AppointmentData).StartTime)"></SfDateTimePicker>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="e-textlabel m-pad-bottom">To</td>
                                        <td colspan="4" class="m-pad-bottom">
                                            <SfDateTimePicker @bind-Value="@((context as AppointmentData).EndTime)"></SfDateTimePicker>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="e-textlabel">Notes</td>
                                        <td colspan="4">
                                            <SfTextBox Multiline="true" @bind-value="@((context as AppointmentData).Notes)"></SfTextBox>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </EditorTemplate>
                    </ScheduleTemplates>
                </SfSchedule>
            </div>
        </div>
    </div>
</div>

<style>
/*    .e-schedule .e-timeline-view .e-resource-cells .e-parent-node {
        background-color: blue
    }*/    
/*    .e-parent-node {
        background-color: blue
    }*/

    .e-schedule .e-timeline-view .e-resource-group-cells, .e-schedule .e-timeline-view .e-resource-cells {
        color: white;
        border-color: lightgray;
        background: lightgray;
    }
    .e-schedule .e-timeline-view .e-child-node {
        border-color: lightgray;
        background: white !important;
    }
    .e-schedule .e-timeline-view .e-content-wrap table tr:last-child td, .e-schedule .e-timeline-month-view .e-content-wrap table tr:last-child td {
        border-bottom-width: 1px;
    }
</style>