@using Menominee.Shared.Models.Contactable;
@if (Emails is null)
{
    <p><em>Loading...</em></p>
}

@if (Emails is not null)
{
    <TelerikGrid Data="Emails"
                 OnRowClick="@OnRowSelected"
                 OnRowDoubleClick="@OnEdit"
                 SelectionMode="GridSelectionMode.Single"
                 SelectedItems="@SelectedEmails"
                 Class="max-email-grid-height"
                 Id="emailGrid"
                 @ref="@Grid">
        <GridColumns>
            <GridColumn Width="100%"
                        Title="Address"
                        ShowColumnChooser="false"
                        Lockable="false"
                        ShowColumnMenu="false"
                        Sortable="false"
                        Filterable="false">
                <Template>
                    @{
                        @if ((context as EmailToWrite).IsPrimary)
                        {
                            <span class="green-check">
                                <TelerikFontIcon Icon="@FontIcon.CheckCircle" />
                            </span>
                        }
                        @((context as EmailToWrite).Address)
                    }
                </Template>
            </GridColumn>
        </GridColumns>
        <NoDataTemplate>
            No Emails Entered
        </NoDataTemplate>
    </TelerikGrid>

    @if (EmailToModify is not null)
    {
        <EmailEditor Email="EmailToModify"
                     FormMode="EmailFormMode"
                     OnSave="OnSaveEdit"
                     OnCancel="OnCancelEdit" />
    }

    @if (CanEdit)
    {
        <EditNewDeleteIconButtons OnEdit="OnEdit"
                                  OnNew="OnNew"
                                  OnDelete="OnDelete"
                                  ShowDivider="false"
                                  CanAdd="CanEdit"
                                  CanEdit="CanEditEmail"
                                  CanDelete="CanDeleteEmail" />
    }
    else
    {
        <EditNewDeleteIconButtons OnEdit="OnEdit"
                                  ShowDivider="false"
                                  CanEdit="CanEditEmail" />
    }
}

<style>
    .green-check {
        color: green;
    }

    .max-email-grid-height {
        max-height: 121px !important;
    }

    #emailGrid .k-grid-header {
        background-color: #f8f9fa;
    }

    #emailGrid .k-table-thead {
        display: none;
    }
</style>