@using Telerik.FontIcons
<div class="container">
    <TelerikButton ButtonType="ButtonType.Button"
                   Icon="@FontIcon.Plus"
                   Size="@ThemeConstants.Button.Size.Small"
                   Rounded="@ThemeConstants.Button.Rounded.Full"
                   Class="add-item"
                   OnClick="Add"
                   Id="addEmail" />
    <label for="addEmail"
           class="k-label"
           title="Add Email">
        add Email
    </label>
    @*If there are emails, list them in a table and show.*@
    @if (((int)Emails?.Count()) > 0)
    {
        <ContactableTemplate Items="Emails"
                         TItem="CustomerVehicleManagement.Shared.Models.Contactable.EmailToWrite"
                         Context="email"
                         @key="Email"
                         OnRowClick="Edit">
            <TableHeader>
                <th>Address</th>
                <th>Primary</th>
            </TableHeader>
            <RowTemplate>
                <td>
                    @email.Address
                </td>
                <td>
                    <TelerikCheckBox @bind-Value="email.IsPrimary" Enabled="false" />
                </td>
            </RowTemplate>
        </ContactableTemplate>
    }

    @*If adding or editing email, show the edit form in modal dialog*@
    @if (FormMode == FormMode.Add || FormMode == FormMode.Edit)
    {
        <EditForm Model="Email">
            <TelerikWindow Visible="@true"
                       Modal="@true">
                <WindowTitle>
                    Email
                </WindowTitle>
                <WindowContent>
                    <div class="container">
                        <div class="form-group row">
                            <label class="k-label">Address</label>
                            <TelerikTextBox @bind-Value="@Email.Address"
                                        Width="100%">
                            </TelerikTextBox>
                        </div>
                        <div class="form-group row">
                            <label>
                                <TelerikCheckBox @bind-Value="@Email.IsPrimary"></TelerikCheckBox>
                                <span class="k-label">Primary</span>
                            </label>
                        </div>
                        <div>
                            <TelerikButton OnClick="Save"
                                       Icon="@FontIcon.Check"
                                       ThemeColor="primary"
                                       ButtonType="ButtonType.Button"
                                       Class="dialog-button"
                                       title="Save New Email">
                                Ok
                            </TelerikButton>
                            <TelerikButton OnClick="Cancel"
                                       ButtonType="ButtonType.Button"
                                       Class="dialog-button"
                                       Icon="@FontIcon.X"
                                       title="Cancel New Email">
                                Cancel
                            </TelerikButton>
                            <TelerikButton OnClick="RemoveAsync"
                                       ButtonType="ButtonType.Button"
                                       Icon="@FontIcon.Trash"
                                       Class="dialog-button bg-danger text-white"
                                       Enabled="FormMode == FormMode.Edit"
                                       title="Remove Email">
                            </TelerikButton>
                        </div>
                    </div>
                </WindowContent>
            </TelerikWindow>
        </EditForm>

    }
</div>
<style>
    .k-label {
        margin-bottom: .2rem !important;
    }

    .dialog-button {
        margin-right: 0.7rem;
    }

    .add-item {
        color: white;
        background-color: forestgreen;
    }
</style>