@page "/schedule"
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using Menominee.Client.Components.Scheduler

@*<SchedulerMenu />*@

@*<div class="m-main-content">
    <div class="ui form">
        <h3 class="m-bordered-form-header">Schedule</h3>
        <div class="m-bordered-form m-fixed-height">*@
<div class="m-main-content">
    <div class="ui form">
        <div class="m-form m-fixed-height">
            <div>
                <ContentHeader Header="Daily Schedule" />
                <div>
                    <SfSchedule @ref="ScheduleRef" 
                                TValue="AppointmentData" 
                                Width="100%" 
                                Height="calc(100vh - 200px)" 
                                @bind-SelectedDate="@CurrentDate" 
                                @bind-CurrentView="@CurrentView" 
                                WorkDays="@WorkingDays" 
                                StartHour="@StartWorkingHours" 
                                EndHour="@EndWorkingHours" 
                                EnableAutoRowHeight="true">
                        <ScheduleWorkHours Highlight="true" Start="@StartWorkingHours" End="@EndWorkingHours"></ScheduleWorkHours>
                        <ScheduleGroup Resources="@GroupData"></ScheduleGroup>
                        <ScheduleResources>
                            <ScheduleResource TItem="ResourceData" TValue="int" DataSource="@TeamData" Field="TeamId" Title="Team" Name="Teams" TextField="Text" IdField="Id" ColorField="Color"></ScheduleResource>
                            <ScheduleResource TItem="ResourceData" TValue="int[]" DataSource="@TechData" Field="TechId" Title="Tech" Name="Techs" TextField="Text" IdField="Id" GroupIDField="TeamId" ColorField="Color" AllowMultiple="true"></ScheduleResource>
                        </ScheduleResources>
                        <ScheduleViews>
                            <ScheduleView MaxEventsPerRow="2" Option="View.TimelineDay"></ScheduleView>
                        </ScheduleViews>
                        <ScheduleEvents TValue="AppointmentData" EventRendered="OnEventRendered" OnPopupOpen="OnPopupOpen"></ScheduleEvents>
                        <ScheduleEventSettings DataSource="@DataSource" EnableMaxHeight="true" EnableIndicator="true" EnableTooltip="true" IgnoreWhitespace="true">
                            <Template>
                                <div class="tooltip-wrap">
                                    <div>@((context as AppointmentData).Service)</div>
                                    <div>@((context as AppointmentData).Vehicle)</div>
                                </div>
                            </Template>
                            <TooltipTemplate>
                                <div class="tooltip-wrap">
                                    <div>@((context as AppointmentData).Service)</div>
                                    <div>@((context as AppointmentData).ServiceId)</div>
                                    <div>@((context as AppointmentData).Vehicle)</div>
                                    <div>@((context as AppointmentData).StartTime?.ToShortTimeString()) - @((context as AppointmentData).EndTime?.ToShortTimeString())</div>
                                </div>
                            </TooltipTemplate>
                            @*<ChildContent>
                                    <ScheduleField Id="Id">
                                        <FieldSubject Name="Service" Title="Service"></FieldSubject>
                                    </ScheduleField>
                                </ChildContent>*@
                        </ScheduleEventSettings>
                    </SfSchedule>
                </div>
            </div>
        </div>
    </div>
</div>


<SfDialog @bind-Visible="@DialogVisibility" IsModal="true" Width="575px" ShowCloseIcon="true">
    <DialogTemplates>
        <Header> <div>Appointment Details</div> </Header>
        <Content>
            <EditForm Model="AppointmentValidation" OnValidSubmit="@OnValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <table class="custom-event-editor" width="550px" cellpadding="5">
                    <tbody>
                        <tr>
                            <td class="e-textlabel">Service</td>
                            <td colspan="4">
                                <SfDropDownList @ref="ServiceObj" TValue="int" TItem="Service" DataSource="@Services" Placeholder="Choose service" @bind-Value="@AppointmentValidation.ServiceId">
                                    <DropDownListFieldSettings Text="Text" Value="Id"></DropDownListFieldSettings>
                                </SfDropDownList>
                                <ValidationMessage For="@(() => AppointmentValidation.ServiceId)" />
                            </td>
                        </tr>
                        <tr>
                            <td class="e-textlabel">Vehicle</td>
                            <td colspan="4">
                                <SfTextBox @ref="VehicleObj" @bind-Value="@AppointmentValidation.Vehicle"></SfTextBox>
                                <ValidationMessage For="@(() => AppointmentValidation.Vehicle)" />
                            </td>
                        </tr>
                        <tr>
                            <td class="e-textlabel">From</td>
                            <td colspan="4">
                                <SfDateTimePicker TValue="DateTime?" ID="Start" @bind-Value="@AppointmentValidation.StartTime"></SfDateTimePicker>
                                <ValidationMessage For="@(() => AppointmentValidation.StartTime)" />
                            </td>
                        </tr>
                        <tr>
                            <td class="e-textlabel">To</td>
                            <td colspan="4">
                                <SfDateTimePicker TValue="DateTime?" ID="End" @bind-Value="@AppointmentValidation.EndTime"></SfDateTimePicker>
                                <ValidationMessage For="@(() => AppointmentValidation.EndTime)" />
                            </td>
                        </tr>
                        <tr>
                            <td class="e-textlabel">Notes</td>
                            <td colspan="4">
                                <SfTextBox Multiline="true" @ref="NotesObj" @bind-Value="@AppointmentValidation.Notes"></SfTextBox>
                                <ValidationMessage For="@(() => AppointmentValidation.Notes)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="m-button-group">
                    <button type="submit" class="ui primary button">Save</button>
                    <button class="ui button">Cancel</button>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

<style>
    .e-schedule .e-timeline-view .e-resource-group-cells, .e-schedule .e-timeline-view .e-resource-cells {
        border-color: lightgray;
        background: lightgray;
    }

    .e-schedule .e-timeline-view .e-child-node {
        border-color: lightgray;
        background: white !important;
    }

    .e-schedule .e-timeline-view .e-content-wrap table tr:last-child td, .e-schedule .e-timeline-month-view .e-content-wrap table tr:last-child td {
        border-bottom-width: 1px;
    }

    .custom-event-editor td {
        padding: 7px;
        padding-right: 16px;
    }

    .m-button-group {
        display: flex;
        align-content: flex-end;
    }
</style>
