@using Telerik.Blazor.Components
@using Syncfusion.Blazor.DropDowns

<div class="m-form">
    <Card Title="Edit Labor">
        <Content>
            <div class="form-row">
                <div class="form-group col col-12 col-md-6">
                    @if (ProductCodes != null)
                    {
                        <label class="k-label" for="productCode">Product Code</label>
                        <TelerikDropDownList @bind-Value="@Item.ProductCodeId"
                                             Width="100%"
                                             Data="@ProductCodes"
                                             TextField="DisplayText"
                                             ValueField="Id"
                                             OnChange="OnProductCodeChange"
                                             Id="productCode">
                        </TelerikDropDownList>
                    }
                </div>
                <div class="form-group col col-12 col-md-6">
                    <label for="saleCode">Sale Code</label>
                    <input type="text" class="form-control" id="saleCode" readonly @bind-value="SaleCode">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col col-12 col-md-6">
                    <label for="itemNumber">Labor Item Number</label>
                    <input type="text" class="form-control m-uppercase" id="itemNumber" autocomplete="off" @bind-value="Item.ItemNumber">
                </div>
                <div class="form-group col col-12 col-md-6">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" autocomplete="off" @bind-value="Item.Description">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <SfTab ShowCloseButton="false" OverflowMode="OverflowMode.Scrollable" HeaderPlacement="HeaderPosition.Top" CssClass="e-background m-tab-height m-tabs">
                        <TabAnimationSettings>
                            <TabAnimationPrevious Effect="AnimationEffect.None"></TabAnimationPrevious>
                            <TabAnimationNext Effect="AnimationEffect.None"></TabAnimationNext>
                        </TabAnimationSettings>
                        <TabItems>
                            <TabItem CssClass="m-tab-item">
                                <ChildContent>
                                    <TabHeader Text="Labor"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    @if (Item.Labor != null)
                                    {
                                        <div class="m-tab-content-border">
                                            <div class="m-tab-content">
                                                <div class="form-row">
                                                    <div class="form-group col col-12 col-md-3">
                                                        @if (laborTypeList != null)
                                                        {
                                                            <label class="k-label" for="laborType">Labor Type</label>
                                                            @*<TelerikDropDownList @bind-Value="@selectedLaborType"
                                                                                     Width="100%"
                                                                                     Data="@laborTypeList"
                                                                                     TextField="Text"
                                                                                     ValueField="Value"
                                                                                     OnChange="OnLaborTypeChange"
                                                                                     @ref="laborTypeDropDownRef"
                                                                                     Id="laborType">
                                                                    <DropDownListSettings>
                                                                        <DropDownListPopupSettings Height="calc((32px * 3) + 2px)" />
                                                                    </DropDownListSettings>
                                                                </TelerikDropDownList>*@
                                                            <SfDropDownList TValue="ItemLaborType"
                                                                            TItem="LaborTypeListItem"
                                                                            PopupHeight="230px"
                                                                            DataSource="@laborTypeList"
                                                                            @bind-Value="@Item.Labor.LaborType">
                                                                <DropDownListFieldSettings Text="Text" Value="Value" />
                                                            </SfDropDownList>
                                                        }
                                                    </div>
                                                    <div class="form-group col col-12 col-md-3">
                                                        @if (Item.Labor.LaborType == ItemLaborType.Flat)
                                                        {
                                                            <label for="laborFlat">Amount</label>
                                                            <TelerikNumericTextBox @bind-Value="Item.Labor.LaborAmount"
                                                                                   Format="C"
                                                                                   Id="laborFlat"
                                                                                   Arrows="false">
                                                            </TelerikNumericTextBox>

                                                        }
                                                        else if (Item.Labor.LaborType == ItemLaborType.Time)
                                                        {
                                                            <label for="laborTime">Time</label>
                                                            <TelerikNumericTextBox @bind-Value="Item.Labor.LaborAmount"
                                                                                   Decimals="2"
                                                                                   Id="laborTime"
                                                                                   Arrows="false">
                                                            </TelerikNumericTextBox>

                                                        }
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col col-12 col-md-3">
                                                        @if (laborTypeList != null)
                                                        {
                                                            <label class="k-label" for="techPayType">Tech Pay Type</label>
                                                            @*<TelerikDropDownList @bind-Value="@selectedTechPayType"
                                                                                     Width="100%"
                                                                                     Data="@laborTypeList"
                                                                                     TextField="Text"
                                                                                     ValueField="Value"
                                                                                     TValue="ItemLaborType"
                                                                                     TItem="LaborTypeListItem"
                                                                                     OnChange="OnTechPayTypeChange"
                                                                                     @ref="techPayTypeDropDownRef"
                                                                                     Id="techPayType">
                                                                    <DropDownListSettings>
                                                                        <DropDownListPopupSettings Height="calc((32px * 3) + 2px)" />
                                                                    </DropDownListSettings>
                                                                </TelerikDropDownList>*@
                                                            <SfDropDownList TValue="ItemLaborType"
                                                                            TItem="LaborTypeListItem"
                                                                            PopupHeight="230px"
                                                                            DataSource="@laborTypeList"
                                                                            @bind-Value="@Item.Labor.TechPayType">
                                                                <DropDownListFieldSettings Text="Text" Value="Value" />
                                                            </SfDropDownList>
                                                        }
                                                    </div>
                                                    <div class="form-group col col-12 col-md-3">
                                                        @if (Item.Labor.TechPayType == ItemLaborType.Flat)
                                                        {
                                                            <label for="payPayFlat">Amount</label>
                                                            <TelerikNumericTextBox @bind-Value="Item.Labor.TechPayAmount"
                                                                                   Format="C"
                                                                                   Id="techPayFlat"
                                                                                   Arrows="false">
                                                            </TelerikNumericTextBox>

                                                        }
                                                        else if (Item.Labor.TechPayType == ItemLaborType.Time)
                                                        {
                                                            <label for="techPayTime">Time</label>
                                                            <TelerikNumericTextBox @bind-Value="Item.Labor.TechPayAmount"
                                                                                   Decimals="2"
                                                                                   Id="techPayTime"
                                                                                   Arrows="false">
                                                            </TelerikNumericTextBox>
                                                        }
                                                    </div>
                                                </div>
                                                @*<div class="form-row">
                                                        <div class="form-group col col-12 col-md-3">
                                                            @if (skillLevelList != null)
                                                            {
                                                                <label class="k-label" for="skillLevel">Skill Level</label>
                                                                <TelerikDropDownList @bind-Value="@Item.Labor.SkillLevel"
                                                                                     Width="100%"
                                                                                     Data="@skillLevelList"
                                                                                     TextField="Text"
                                                                                     ValueField="Value"
                                                                                     OnChange="OnSkillLevelChange"
                                                                                     @ref="skillLevelDropDownRef"
                                                                                     Id="skillLevel">
                                                                    <DropDownListSettings>
                                                                        <DropDownListPopupSettings Height="calc((32px * 5) + 2px)" />
                                                                    </DropDownListSettings>
                                                                </TelerikDropDownList>
                                                            }
                                                        </div>
                                                    </div>*@
                                                <div class="form-row">
                                                    <div class="form-group col col-12 col-md-3">
                                                        @if (skillLevelList != null)
                                                        {
                                                            <label class="k-label" for="skillLevel">Skill Level</label>
                                                            <SfDropDownList TValue="SkillLevel"
                                                                            TItem="SkillLevelListItem"
                                                                            PopupHeight="230px"
                                                                            Placeholder="Select a skill level"
                                                                            DataSource="@skillLevelList"
                                                                            @bind-Value="@Item.Labor.SkillLevel">
                                                                <DropDownListFieldSettings Text="Text" Value="Value" />
                                                            </SfDropDownList>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </ContentTemplate>
                            </TabItem>
                        </TabItems>
                    </SfTab>
                </div>
            </div>

            <SaveDiscardButtons OnSave="@OnValidSubmit" OnDiscard="@OnDiscard" />

        </Content>
    </Card>
</div>

<style>
    .m-tabs {
        font-size: 1rem;
    }

    .m-tab-height {
        /*height: calc(100vh - 230px) !important;*/
    }

    .m-tab-content {
        padding: 10px;
    }

    .m-tab-content-header {
        margin-bottom: .25em;
    }

    .m-tab-content-border {
        /*margin-left: 10px;
        margin-right: 6px;*/
        border: 1px solid darkgrey;
        background: white;
        /*border-radius: 5px;*/
        /*font-size: 14px;*/
        border-radius: 0 0.25rem 0.25rem 0.25rem
    }

    .e-tab.e-background .e-tab-header .e-toolbar-item .e-tab-text {
        color: black !important;
        font-size: 1rem !important;
    }

    /*    .e-tab.e-background .e-tab-header .e-toolbar-item.e-active .e-tab-text {
        background: #6096ba !important;
        color: white !important;
        border-radius: 0.25rem 0.25rem 0 0;
    }*/

    .e-tab.e-background .e-tab-header .e-toolbar-item.e-active .e-tab-wrap {
        background: var(--bg-color-medium) !important;
        color: white !important;
        border-radius: 0.25rem 0.25rem 0 0;
    }

    /*    .e-tab-text {
        color: black !important;
    }*/

    .m-tab-item {
        color: black !important;
    }

    .e-tab .e-tab-header.e-vertical {
        max-width: unset;
    }

    .e-ddl.e-input-group.e-control-wrapper .e-input {
        color: black;
        background-color: #e4e7eb !important;
        height: 36px;
        font-size: 1rem;
        font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        padding: 0.375rem 1rem !important;
    }

    .e-ddl .e-input-group-icon.e-ddl-icon.e-icons, .e-ddl .e-input-group-icon.e-ddl-icon.e-icons:hover {
        color: black;
        background-color: #e4e7eb !important;
        font-size: 13px;
    }

    .e-dropdownbase .e-list-item, .e-dropdownbase .e-list-item.e-item-focus {
        background-color: white;
        color: black;
        font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        min-height: 29px;
    }
</style>