@inherits InventoryEditorBase
@using Syncfusion.Blazor.DropDowns

<div class="m-form">
    <Card Title="@Title">
        <Content>
            <div class="form-row">
                <div class="form-group col col-12 col-md-6">
                    @if (ProductCodes != null && ProductCodes.Count > 0)
                    {
                        <label class="m-label" for="productCode">Product Code</label>
                        <TelerikDropDownList @bind-Value="@ProductCodeId"
                                         Width="100%"
                                         Data="@ProductCodes"
                                         TextField="DisplayText"
                                         ValueField="Id"
                                         OnChange="OnProductCodeChangedAsync"
                                         Id="productCode">
                        </TelerikDropDownList>
                    }
                    else
                    {
                        <span>No Product Codes Found</span>                        
                    }
                </div>
                <div class="form-group col col-12 col-md-6">
                    <label class="m-label" for="saleCode">Sale Code</label>
                    <input type="text" class="form-control" id="saleCode" readonly @bind-value="SaleCode">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col col-12 col-md-6">
                    <label class="m-label" for="itemNumber">Labor Item Number</label>
                    <input type="text" class="form-control m-uppercase" id="itemNumber" autocomplete="off" @bind-value="Item.ItemNumber">
                </div>
                <div class="form-group col col-12 col-md-6">
                    <label class="m-label" for="description">Description</label>
                    <input type="text" class="form-control" id="description" autocomplete="off" @bind-value="Item.Description">
                </div>
            </div>

            @if (Item.Labor != null)
            {
                <div class="form-row">
                    <div class="form-group col col-12 col-md-3">
                        @if (LaborTypeList != null && LaborTypeList.Count > 0 && Item.Labor?.LaborAmount is not null)
                        {
                            <label class="m-label" for="laborType">Labor Type</label>
                            <SfDropDownList TValue="ItemLaborType"
                                    TItem="LaborTypeListItem"
                                    PopupHeight="230px"
                                    DataSource="@LaborTypeList"
                                    @bind-Value="@Item.Labor.LaborAmount.PayType">
                                <DropDownListFieldSettings Text="Text" Value="Value" />
                            </SfDropDownList>
                        }
                    </div>
                    <div class="form-group col col-12 col-md-3">
                        @if (Item.Labor?.LaborAmount?.PayType is ItemLaborType.Flat)
                        {
                            <label class="m-label" for="laborFlat">Amount</label>
                            <TelerikNumericTextBox @bind-Value="Item.Labor.LaborAmount"
                                           Format="C"
                                           Id="laborFlat"
                                           Arrows="false">
                            </TelerikNumericTextBox>

                        }
                        else if (Item.Labor?.LaborAmount?.PayType is ItemLaborType.Time)
                        {
                            <label class="m-label" for="laborTime">Time</label>
                            <TelerikNumericTextBox @bind-Value="Item.Labor.LaborAmount"
                                           Decimals="2"
                                           Id="laborTime"
                                           Arrows="false">
                            </TelerikNumericTextBox>

                        }
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col col-12 col-md-3">
                        @if (LaborTypeList != null && LaborTypeList.Count > 0 && Item.Labor?.TechAmount is not null)
                        {
                            <label class="m-label" for="techPayType">Tech Pay Type</label>
                            <SfDropDownList TValue="ItemLaborType"
                                    TItem="LaborTypeListItem"
                                    PopupHeight="230px"
                                    DataSource="@LaborTypeList"
                                    @bind-Value="@Item.Labor.TechAmount.PayType">
                                <DropDownListFieldSettings Text="Text" Value="Value" />
                            </SfDropDownList>
                        }
                    </div>
                    <div class="form-group col col-12 col-md-3">
                        @if (Item.Labor?.TechAmount?.PayType == ItemLaborType.Flat)
                        {
                            <label class="m-label" for="payPayFlat">Amount</label>
                            <TelerikNumericTextBox @bind-Value="Item.Labor.TechAmount.Amount"
                                           Format="C"
                                           Id="techPayFlat"
                                           Arrows="false">
                            </TelerikNumericTextBox>

                        }
                        else if (Item.Labor?.TechAmount?.PayType == ItemLaborType.Time)
                        {
                            <label class="m-label" for="techPayTime">Time</label>
                            <TelerikNumericTextBox @bind-Value="Item.Labor.TechAmount.Amount"
                                           Decimals="2"
                                           Id="techPayTime"
                                           Arrows="false">
                            </TelerikNumericTextBox>
                        }
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col col-12 col-md-3">
                        @if (SkillLevelList != null && SkillLevelList.Count > 0 && Item.Labor?.TechAmount is not null)
                        {
                            <label class="m-label" for="skillLevel">Skill Level</label>
                            <SfDropDownList TValue="SkillLevel"
                                    TItem="SkillLevelListItem"
                                    PopupHeight="230px"
                                    Placeholder="Select a skill level"
                                    DataSource="@SkillLevelList"
                                    @bind-Value="@Item.Labor.TechAmount.SkillLevel">
                                <DropDownListFieldSettings Text="Text" Value="Value" />
                            </SfDropDownList>
                        }
                    </div>
                </div>
            }

            <SaveDiscardButtons OnSave="@OnValidSubmit" OnDiscard="@OnDiscard" />

        </Content>
    </Card>
</div>

<style>

    .e-tab.e-background .e-tab-header .e-toolbar-item .e-tab-text {
        color: black !important;
        font-size: 1rem !important;
    }

    .e-tab.e-background .e-tab-header .e-toolbar-item.e-active .e-tab-wrap {
        background: var(--bg-color-medium) !important;
        color: white !important;
        border-radius: 0.25rem 0.25rem 0 0;
    }

    .e-tab .e-tab-header.e-vertical {
        max-width: unset;
    }
</style>
